<ul class="active-filters list {{ class }}">
    {{# each filters }}
        <li class="active-filters__item list__item {{ class }}">
            <a
                href="#"
                class="active-filters__remove {{ class }}"
                aria-label="{{ ariaLabel }}"
                title="{{ ariaLabel }}"
            >
                {{ render '@icon' icon }}
            </a>
            <div class="active-filters__description">
                <span class="active-filters__label">
                    {{ label }}:&nbsp;
                </span>
                <span class="active-filters__value">
                    {{ value }}
                </span>
            </div>
        </li>
    {{/each}}
    <a
        href="{{ clear.href }}"
        class="active-filters__clear-all {{ clear.class }}"
        title="{{ clear.title }}"
    >
        {{ clear.text }}
    </a>
</ul>
