<div class="active-filters {{ class }}">
    {{ render '@heading' heading }}
    <ul class="list">
        {{# each filters }}
            <li class="active-filters__item list__item {{ class }}">
                <a
                    href="#"
                    class="active-filters__remove button button--icon {{ class }}"
                    aria-label="{{ ariaLabel }}"
                    title="{{ ariaLabel }}"
                >
                    {{ render '@icon' ../removeIcon }}
                </a>
                <div class="active-filters__description">
                    <span class="active-filters__label">
                        {{ label }}:&nbsp;
                    </span>
                    <span class="active-filters__value">
                        {{ value }}
                    </span>
                </div>
            </li>
        {{/each}}
    </ul>
    <a
        href="{{ clear.href }}"
        class="active-filters__clear-all {{ clear.class }}"
        title="{{ clear.title }}"
    >
        {{ clear.text }}
    </a>
</div>
