<div class="recently-viewed {{ class }}">
    <div class="{{ blockClass }}">
        <div class="{{ headingClass }}">
            {{ render '@heading' heading merge="true" }}
        </div>

        {{ render (component content) contentContext merge=true }}
    </div>
</div>
