<div class="input {{ class }}" {{{ attributes }}}>
    <label
        class="
            label
            {{#if label.hidden }}
                label--hidden
            {{/if}}
                {{ label.class }}
        "
        for="{{ field.id }}"
        {{{ label.attributes }}}
    >
        {{ label.text }}
    </label>
    <input
        class="{{ field.class }}"
        id="{{ field.id }}"
        name="{{ field.name }}"
        type="{{ field.type }}"
        placeholder="{{ field.placeholder }}"
        {{{ field.attributes }}}
    >
    <button
        type="button"
        class="
            ui-datepicker-trigger
            {{ trigger.class }}
        "
    ></button>
</div>
