<div class="input {{ class }}" {{{ attributes }}}>
    <label
        class="input__label {{ label.class }}"
        for="{{ field.id }}"
        {{{ label.attributes }}}
    >
        {{ label.text }}
    </label>

    <textarea
        class="input__field input__field--textarea {{ field.class }}"
        id="{{ field.id }}"
        name="{{ field.name }}"
        placeholder="{{ field.placeholder }}"
        {{{ field.attributes }}}
    ></textarea>
</div>
