<div class="input input--password {{ class }}" {{{ attributes }}}>
    <label
        class="
           label
           input__label
           {{#if label.hidden }}
               label--hidden
           {{/if}}
           {{ label.class }}
       "
       for="{{ field.id }}"
       {{{ label.attributes }}}
    >
        {{ label.text }}
    </label>
    <input
        class="input__field {{ field.class }}"
        id="{{ field.id }}"
        name="{{ field.name }}"
        type="{{ field.type }}"
        placeholder="{{ field.placeholder }}"
        {{{ field.attributes }}}
    >
    <button
        type="button"
        class="
            button
            button--icon
            input__button-pass
        "
        {{{ buttonAttributes }}}
    >
        {{ render '@icon' passwordIconView }}
        {{ render '@icon' passwordIconHide }}
    </button>
</div>
{{#if script}}
    <script src="{{static 'input-password.js' }}"></script>
{{/if}}
