<div class="page-wrapper">
    {{ render '@header' }}
    <main id="maincontent" class="container">
        {{ render '@breadcrumbs' breadcrumbs }}
        {{ render '@heading' mainHeading merge=true }}
        <div class="row contact-us">
            <div class="col-xs-12 col-lg-6">
                <p class="contact-us__description">
                    {{ form.description }}
                </p>
                <form class="conact-us__form">
                    <fieldset class="fieldset">
                        <legend class="contact-us__legend">
                            {{ form.legend }}
                        </legend>
                        {{ render '@select' form.select merge=true }}
                        {{ render '@input' form.input1 merge=true }}
                        {{ render '@input' form.input2 merge=true }}
                        {{ render '@input' form.input3 merge=true }}
                        {{ render '@input' form.input4 merge=true }}
                        {{ render '@input--textarea' form.input5 merge=true }}
                    </fieldset>
                    {{ render '@actions-group' form.button }}
                    <p class="contact-us__tips">
                        {{ form.validationTips }}
                    </p>
                </form>
            </div>
            <div
                class="
                    col-xs-12
                    col-lg-6
                    contact-us__details
                "
            >
                <div class="contact-us__phone">
                    {{ render '@heading' phone.heading }}
                    <span class="contact-us__phone-number">
                        {{ phone.number }}
                    </span>
                </div>
                <div class="contact-us__address">
                    {{ render '@heading' address.heading }}
                    <p class="contact-us__address-item">
                        {{ address.name }}
                    </p>
                    <p class="contact-us__address-item">
                        {{ address.details }}
                    </p>
                </div>
                {{ render '@heading' openingHours.heading }}
                <ul class="contact-us__list">
                    {{#each openingHours.items }}
                        <li class="contact-us__list-item">
                            <span class="contact-us__day {{ dayClass }}">
                                {{ day }}
                            </span>
                            <span class="contact-us__hour {{ hourClass }}">
                                {{ hour }}
                            </span>
                        </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </main>
</div>

{{ render '@footer' }}
