<div class="price {{ class }} {{{ attributes }}}">
    <span class="price__value {{ priceClass }}">
        <span class="price__text">
            {{ textBeforeFromPrice }}
        </span>
        {{#if prefix.tag}}
            <{{tag}}>
        {{/if}}
            {{ prefix.text }}
        {{#if prefix.tag}}
            </{{tag}}>
        {{/if}}

        {{ fromPrice }}

        {{#if suffix.tag}}
            <{{suffix.tag}}>
        {{/if}}
            {{ suffix.text }}
        {{#if suffix.tag}}
            </{{suffix.tag}}>
        {{/if}}
    </span>

    <span class="price__value {{ priceClass }}">
        <span class="price__text">
            {{ textBeforeToPrice }}
        </span>

        {{#if prefix.tag}}
            <{{tag}}>
        {{/if}}
            {{ prefix.text }}
        {{#if prefix.tag}}
            </{{tag}}>
        {{/if}}

        {{ toPrice }}

        {{#if suffix.tag}}
            <{{suffix.tag}}>
        {{/if}}
            {{ suffix.text }}
        {{#if suffix.tag}}
            </{{suffix.tag}}>
        {{/if}}
    </span>
</div>
