<div
    class="dropdown-list filters__dropdown"
    id="{{ dropdownListId }}"
>
    <ul class="dropdown-list__list">
        {{ render '@filter--color' }}
        {{ render '@filter--swatch' }}
        {{ render '@filter--checkbox' }}
        {{ render '@filter--range' }}
    </ul>
</div>
{{#if dropdownListId }}
    <script type="text/javascript">
        new DropdownList(document.getElementById('{{ dropdownListId }}'));
    </script>
{{/if}}
