<div class="page-wrapper">
    {{ render '@header' }}

    <div class="dashboard container">
        {{ render '@breadcrumbs' breadcrumbs }}
        <div class="row">
            <div class="col-xs-12 col-lg-3 dashboard__sidebar">
                {{ render '@dashboard-nav' }}
            </div>
            <div class="col-xs-12 col-lg-9 dashboard__content">
                {{ render '@heading' heading }}
                {{ render '@dashboard-table' }}
                {{ render '@dashboard-items' account merge=true }}
                {{ render '@dashboard-items' addreses merge=true }}
            </div>
        </div>
    </div>
</div>

{{ render '@footer' }}
