<nav
    class="breadcrumbs {{ class }}" {{{ attributes }}}
    aria-label="{{ ariaLabel }}"
    role="navigation"
>
    <ol
        class="breadcrumbs__list {{ listClass }}" {{{ listAttributes }}}
    >
        {{#each categories}}
            {{#if @last}}
                <li
                    class="breadcrumbs__item"
                    aria-current="true"
                >
                    {{ name }}
                </li>
            {{else}}
                <li class="breadcrumbs__item">
                    <a
                        href="{{ href }}"
                        class="{{ linkClass }}"
                    >
                        {{ name }}
                    </a>
                </li>
            {{/if}}
        {{/each}}
    </ol>
</nav>

