<section class="chat">
    <ul class="chat__list">
        <li class="chat__message chat__message--incoming">
            <div class="chat__username">
                {{ message.incoming.username }}
            </div>
            <div class="chat__message-content">
                <p class="chat__message-text">
                    {{ message.incoming.text }}
                </p>
                <div class="chat__message-date">
                    {{ message.incoming.date }}
                </div>
            </div>
        </li>
        <li class="chat__message chat__message--sent">
            <div class="chat__username">
                {{ message.sent.username }}
            </div>
            <div class="chat__message-content chat__message-content--sent">
                <p class="chat__message-text">
                    {{ message.sent.text }}
                </p>
                <div class="chat__message-date">
                    {{ message.sent.date }}
                </div>
            </div>
        </li>
    </ul>
    <div class="chat__control">
        <div class="chat__message-field">
            {{ render '@input--textarea' input merge=true }}
        </div>
        <div class="chat__message-send">
            {{ render '@button' button merge=true }}
        </div>
    </div>
    {{ render '@file-upload--native' }}
</section>
