<div class="page-wrapper">
    {{ render '@header' }}
    <div class="container">
        <div class="row home">
            <div class="col-xs-12">
                <!--  add main slider     -->
                {{ render '@brief-info--dividers' }}

                <section class="row home__banner-categories">
                    <h2 class="col-xs-12 col-lg-12 margin-top-sm text-center">
                        {{ bannerCategories.heading }}
                    </h2>
                    <div class="col-xs-6 col-lg-3">
                        {{ render '@banner--secondary' merge=true }}
                    </div>
                    <div class="col-xs-6 col-lg-3">
                        {{ render '@banner--secondary' merge=true }}
                    </div>
                    <div class="col-xs-6 col-lg-3">
                        {{ render '@banner--secondary' merge=true }}
                    </div>
                    <div class="col-xs-6 col-lg-3">
                        {{ render '@banner--secondary' merge=true }}
                    </div>
                </section>

                <section class="row home__banner-categories">
                    <div class="col-xs-12 col-lg-6">
                        {{ render '@banner--default' merge=true }}
                    </div>
                    <div class="col-xs-12 col-lg-6">
                        {{ render '@banner--default' merge=true }}
                    </div>
                </section>

                <section class="home__slider-popular-products">
                  <h2 class="col-xs-12 col-lg-12 margin-top-sm text-center">
                      {{ popularProducts.heading }}
                  </h2>
                  <!-- add slider popular products -->
                </section>

                <section class="home__static-teaser-block">

                </section>

                <section class="home__slider-new-products">
                    <h2 class="col-xs-12 col-lg-12 margin-top-sm text-center">
                        {{ newProducts.heading }}
                    </h2>
                    <!-- add slider new products -->
                </section>

                <section class="home__slider-brands">

                </section>

                <section class="home__content-block">
                    {{ render '@content-block--2-columns' merge=true }}
                </section>
            </div>
        </div>
    </div>
</div>

{{ render '@footer' }}
