<div class="page-wrapper">
    {{ render '@header' }}
    <main id="maincontent" class="container">
        <div class="row home">
            <div class="col-xs-12 col-lg-12">
                {{ render '@slider--default' mainSlider merge=true }}
                {{ render '@brief-info--dividers' }}

                <section class="row home__categories">
                    {{ render '@heading--tag-2' categoriesHeading merge=true }}
                    {{ render '@banner--secondary' clothingBanner merge=true }}
                    {{ render '@banner--secondary' shoesBanner merge=true }}
                    {{ render '@banner--secondary' accessoriesBanner merge=true }}
                    {{ render '@banner--secondary' newInBanner merge=true }}
                </section>

                <section class="row home__banners-handler">
                    {{ render '@banner--default' bannerOne merge=true }}
                    {{ render '@banner--default' bannerSecond merge=true }}
                </section>

                <section class="home__slider home__slider-popular-products">
                    {{ render '@heading--tag-2' popularProductsHeading merge=true }}
                    {{ render '@slider--products-without-cart' productsWithoutCartSlider merge=true }}
                </section>

                <section class="home__teaser-block">
                    {{ render '@teaser--secondary' teaser merge=true }}
                </section>

                <section class="home__slider home__slider-new-products">
                    {{ render '@heading--tag-2' newProductsHeading merge=true }}
                    {{ render '@slider--products' productsSlider merge=true }}
                </section>

                <section class="home__slider home__slider-brands text-center">
                    {{ render '@heading--tag-2' brandsHeading merge=true }}
                    {{ render '@slider--brands' merge=true }}
                    {{ render '@link--secondary' seeAllBrandsLink }}
                </section>

                <section class="home__content-block">
                    {{ render '@content-block--2-columns' merge=true }}
                </section>
            </div>
        </div>
    </main>
</div>

{{ render '@footer' }}
