<div class="page-wrapper">
    {{ render '@header' }}
    <main id="maincontent" class="container">
        <div class="home">
            {{#if mainSlider }}
                {{ render '@section' mainSlider }}
            {{/if}}

            {{#if briefInfo }}
                {{ render '@section' briefInfo }}
            {{/if}}

            {{#if categoryBanners }}
                {{ render '@section' categoryBanners }}
            {{/if}}

            {{#if additionalBanners }}
                {{ render '@section' additionalBanners }}
            {{/if}}

            {{#if popularProducts }}
                {{ render '@section' popularProducts }}
            {{/if}}

            {{#if teasers }}
                {{ render '@section' teasers }}
            {{/if}}

            {{#if newProducts }}
                {{ render '@section' newProducts }}
            {{/if}}

            {{#if brands }}
                {{ render '@section' brands }}
            {{/if}}

            {{#if content }}
                {{ render '@section' content }}
            {{/if}}
        </div>
    </main>
</div>

{{ render '@footer' }}
