<div class="page-wrapper">
    {{ render '@header' }}
    <div class="container">
        <div class="row home">
            <div class="col-xs-12">
                <!--  add main slider     -->
                {{ render '@brief-info--dividers' }}

                <section class="row home__banner-categories">
                    {{ render '@heading--tag-2' categoriesHeading merge=true }}
                    <div class="col-xs-6 col-lg-3">
                        {{ render '@banner--secondary' merge=true }}
                    </div>
                    <div class="col-xs-6 col-lg-3">
                        {{ render '@banner--secondary' merge=true }}
                    </div>
                    <div class="col-xs-6 col-lg-3">
                        {{ render '@banner--secondary' merge=true }}
                    </div>
                    <div class="col-xs-6 col-lg-3">
                        {{ render '@banner--secondary' merge=true }}
                    </div>
                </section>

                <section class="row home__static-block home__banner-categories">
                    <div class="col-xs-12 col-lg-6">
                        {{ render '@banner--default' merge=true }}
                    </div>
                    <div class="col-xs-12 col-lg-6">
                        {{ render '@banner--default' merge=true }}
                    </div>
                </section>

                <section class="home__slider home__slider-popular-products">
                    {{ render '@heading--tag-2' popularProductsHeading merge=true }}
                    <!-- add slider popular products -->
                </section>

                <section class="home__static-block home__static-teaser-block">
                    {{ render '@teaser' teaser merge=true }}
                </section>

                <section class="home__slider home__slider-new-products">
                    {{ render '@heading--tag-2' newProductsHeading merge=true }}
                    <!-- add slider new products -->
                </section>

                <section class="home__slider home__slider-brands">
                    {{ render '@heading--tag-2' brandsHeading merge=true }}
                </section>

                <section class="home__static-block home__content-block">
                    {{ render '@content-block--2-columns' merge=true }}
                </section>
            </div>
        </div>
    </div>
</div>

{{ render '@footer' }}
