<div class="page-wrapper">
    {{ render '@header' }}
    <main id="maincontent" class="container">
        <div class="home">

                {{ render '@slider--default' mainSlider merge=true }}
                {{ render '@brief-info--dividers' }}

                <section class="row home__categories">
                    {{ render '@heading--tag-2' categoriesHeading merge=true }}
                    {{ render '@banner--secondary' clothingBanner merge=true }}
                    {{ render '@banner--secondary' shoesBanner merge=true }}
                    {{ render '@banner--secondary' accessoriesBanner merge=true }}
                    {{ render '@banner--secondary' newInBanner merge=true }}
                </section>

                <section class="row home__banners-handler">
                    {{ render '@banner--default' bannerOne merge=true }}
                    {{ render '@banner--default' bannerSecond merge=true }}
                </section>

                <section class="home__popular-products">
                    {{ render '@heading--tag-2' popularProductsHeading merge=true }}
                    {{ render '@slider--products-without-cart' productsWithoutCartSlider merge=true }}
                </section>

                <section class="home__teaser-block">
                    {{ render '@teaser--secondary' teaser merge=true }}
                </section>

                <section class="home__new-products">
                    {{ render '@heading--tag-2' newProductsHeading merge=true }}
                    {{ render '@slider--products' productsSlider merge=true }}
                </section>

                <section class="home__brands text-center">
                    {{ render '@heading--tag-2' brandsHeading merge=true }}
                    {{ render '@slider--brands' merge=true }}
                </section>

                <section class="home__content-block">
                    {{ render '@content-block--2-columns' merge=true }}
                </section>

        </div>
    </main>
</div>

{{ render '@footer' }}
