<div class="account-form">
    <p class="account-form__info">
        {{{ signInInfo }}}
    </p>
    <form class="account-form__form">
        <fieldset
            class="
                fieldset
                account-form__fieldset
                {{ signInSection.fieldset.class }}
            "
            {{{ signInSection.fieldset.attributes }}}
        >
            <legend
                class="{{ signInSection.legend.class }}"
                {{{ signInSection.legend.attributes }}}
            >
                {{ signInSection.legend.text }}
            </legend>
            {{ render '@input' email }}
            {{ render '@input' password }}
        </fieldset>
        <div class="account-form__actions">
            {{ render '@button' loginButton }}
            <a
                href="{{ forgotPassword.href }}"
                class="account-form__forgot-password"
            >
                {{ forgotPassword.text }}
            </a>
        </div>
        <div class="account-form__validation-tips">
            {{{ validationTips }}}
        </div>
    </form>
</div>
