
<div class="account-form">
    <p class="account-form__info">
        {{{ signUpInfo }}}
    </p>
    <form class="account-form__form">
        <fieldset
            class="
                fieldset account-form__fieldset
                {{ personalSection.fieldset.class }}
            "
            {{ personalSection.fieldset.attributes }}
        >
            <legend
                class="
                    fieldset__legend
                    account-form__legend
                    {{ personalSection.legend.class }}
                "
                {{ personalSection.legend.attributes }}
            >
                {{ personalSection.legend.text }}
            </legend>
            {{ render '@input' firstName }}
            {{ render '@input' lastName }}
            {{ render '@checkbox' newsletterCheckbox }}
        </fieldset>
        <fieldset
            class="
                fieldset account-form__fieldset
                {{ signInSection.fieldset.class }}
            "
            {{ signInSection.fieldset.attributes }}
        >
            <legend
                class="{{ signInSection.legend.class }}"
                {{ signInSection.legend.attributes }}
            >
                {{ signInSection.legend.text }}
            </legend>
            {{ render '@input' email }}
            <div class="{{ passwordWrapClass }}">
                {{ render '@input--password' password merge=true }}
                <div class="account-form__password-strength">
                    {{ render '@password-strength' passwordStrength.none }}
                </div>
            </div>
            {{ render '@input--password' passwordConfirmation merge=true }}
        </fieldset>
        <div class="account-form__actions">
            {{ render '@button' registrationButton }}
        </div>
        <div class="account-form__validation-tips">
            {{{ validationTips }}}
        </div>
    </form>
</div>
