<li
    id="shipping"
    class="checkout-shipping-address shipping-address"
>
    <h2
        class="step-title heading shipping-address__label"
        id="step-title-shipping"
        translate="'Shipping Address'"
        data-role="title"
    >
        {{ title }}
    </h2>
    <form
        class="
            form
            form-login
            shipping-address__form-login
        "
        aria-labelledby="step-title-shipping"
    >
        <fieldset
            id="customer-email-fieldset"
            class="fieldset"
        >
            <div class="field input required">
                <label
                    class="label input__label"
                    for="customer-email"
                >
                    <span>
                        {{ labels.mail }}
                    </span>
                </label>

                <div class="control _with-tooltip">
                    <input
                        class="
                            input-text
                            input__field
                            valid
                        "
                        type="email"
                        name="username"
                        id="customer-email"
                    >
                    <span class="note" style="display: none;">
                        <span>
                            {{ notes.account }}
                        </span>
                    </span>

                    <div class="field-tooltip toggle">
                        <span
                            class="action-help"
                            tabindex="0"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                            role="button"
                        >
                            {{ render '@icon' questionIcon }}
                        </span>
                    </div>
                </div>
            </div>

            <!--Hidden fields -->
            <fieldset
                class="fieldset hidden-fields"
                style="display: block;"
            >
                <div class="field input">
                    <label
                        class="label input__label"
                        for="customer-password"
                    >
                        <span>
                            {{ labels.password }}
                        </span>
                    </label>
                    <div class="control">
                        <input
                            class="input-text input__field"
                            type="password"
                            name="password"
                            id="customer-password"
                            autocomplete="off"
                        >
                        <span class="note customer-note">
                            {{ notes.customer }}
                        </span>
                    </div>
                </div>
                <div class="login-buttons shipping-address__login-buttons">
                    {{ render '@button' loginBtn }}
                    {{ render '@button' forgotBtn }}
                </div>
            </fieldset>
        </fieldset>
    </form>
</li>
