<div class="slider-slick {{ class }}" {{{ attributes }}}>
    <div class="slider-slick__handler">
        <div class="slider-slick__slides">
            {{#each slides }}
                <div
                    class="slider-slick__item {{ this.itemClass }}"
                    {{{ this.itemAttributes }}}
                >
                    {{ render (component content) contentContext }}
                </div>
            {{/each}}
        </div>
    </div>

    <div class="slider-slick__navigation {{ navigationClass }}">
        <div class="slider-slick__arrows">
            {{render '@button--icon' iconPrev }}

            {{render '@button--icon' iconNext }}
        </div>
    </div>
</div>

{{#if script }}
    <script src="{{ static 'slider-slick.js' }}"></script>
{{/if}}
