<div
    class="quantity-update {{ class }}"
    {{{ attributes }}}
>
    {{> '@button--icon' minusQtyButton }}

    <input
        class="quantity-update__input {{ input.class }}"
        type="number"
        id="{{ input.id }}"
        min="{{ input.min }}"
        value="{{ input.defaultValue }}"
        aria-label="{{ input.ariaLabel }}"
    />

    {{> '@button--icon' plusQtyButton }}
</div>
{{#if script}}
    <script src="{{ static '../quantity-update/quantity-update.js' }}"></script>
{{/if}}
