<div class="brief-info {{ class }}">
    <ul class="list brief-info__items-container">
        {{#each items as |item|}}
            <li class="brief-info__list-item list__item">
                <a
                    class="
                        brief-info__link
                        {{ item.linkClass }}
                    "
                    {{{ item.linkAttributes }}}
                >
                    <span
                        class="
                            brief-info__icon-wrapper
                            {{ item.iconWrapperClass }}
                        "
                    >
                        {{ render '@icon' item.icon }}
                    </span>

                    <{{ item.title.tag }}
                        class="brief-info__title {{ item.title.class }}"
                        {{{ item.title.attributes }}}
                    >
                        {{ item.title.text }}
                    </{{ item.title.tag }}>
                    {{#if item.subtitle.tag }}
                        <{{ item.subtitle.tag }}
                            class="brief-info__subtitle
                            {{ item.subtitle.class }}
                        "
                            {{{ item.subtitle.attributes }}}
                        >
                            {{ item.subtitle.text }}
                        </{{ item.subtitle.tag }}>
                    {{/if}}
                </a>
            </li>
        {{/each}}
    </ul>
</div>
