<div class="brief-info {{ class }}">
    <ul class="list brief-info__items-container">
        {{#each items as |item|}}
            {{#if item.isButton}}
                <li class="brief-info__list-item list__item">
                    <button
                        class="brief-info__item {{ item.buttonClass }}"
                        type="button"
                        {{{ item.buttonAttributes }}}
                    >
            {{else}}
                <li class="brief-info__item">
            {{/if}}
                    <span
                        class="
                            brief-info__icon-wrapper
                            {{ item.iconWrapperClass }}
                        "
                        aria-label="{{ item.iconLabel }}"
                    >
                        {{ render '@icon' item.icon }}
                    </span>
                    <div class="brief-info__content">
                        <{{ item.title.tag }}
                            class="brief-info__title {{ item.title.class }}"
                            {{{ item.title.attributes }}}
                        >
                            {{ item.title.text }}
                        </{{ item.title.tag }}>
                        {{#if item.subtitle.tag }}
                            <{{ item.subtitle.tag }}
                                class="brief-info__subtitle
                                {{ item.subtitle.class }}
                            "
                                {{{ item.subtitle.attributes }}}
                            >
                                {{ item.subtitle.text }}
                            </{{ item.subtitle.tag }}>
                        {{/if}}
                    </div>
                {{#if item.isButton}}
                    </button>
                    </li>
                {{else}}
                    </li>
                {{/if}}
        {{/each}}
    </ul>
</div>
