<div class="page-wrapper">
    {{ render '@header' }}
    <main id="maincontent" class="container">
        <div class="not-found text-center">
            <h1 class="heading not-found__heading">
                <span class="not-found__heading-number">
                    {{ error }}
                </span>
                {{ heading }}
            </h1>

            <section class="not-found__actions row">
                <div
                    class="
                        col-xs-12
                        col-md-6
                        end-md
                    "
                >
                    {{ render '@button--link' homeLink merge=true }}
                </div>
                <div
                    class="
                        col-xs-12
                        col-md-6
                        start-md
                    "
                >
                    {{ render '@button--link' accountLink merge=true }}
                </div>
            </section>

            <section class="not-found__text">
                {{{ text }}}
            </section>
        </div>
    </main>
</div>
{{ render '@footer' }}
