<div class="quote-comments {{ class }}" {{{ attributes }}}>
    <div class="quote-comments__list">
        {{#each comments as |comment|}}
            <div class="quote-comments__item">
                <date class="quote-comments__date">
                    {{ date }}
                </date>
                <span class="quote-comments__author">
                    {{ author }}
                </span>
                <div class="quote-comments__content">
                    {{{ content }}}
                </div>
                {{#if attachments }}
                    <div class="quote-comments__attachments">
                        {{ render '@list--link' attachments merge="true" }}
                    </div>
                {{/if}}
            </div>
        {{/each}}
    </div>
</div>
