<div class="sidebar-block">
    <div class="sidebar-block__heading">
        {{ render '@heading' title }}
        <span class="sidebar-block__counter">
            {{ qty }}
        </span>
    </div>
    <ol class="list sidebar-block__list">
        {{#each product}}
            <li class="sidebar-block__wishlist-item {{ ../wishlistItemClass }} ">
                <div class="sidebar-block__item sidebar-block__item--wishlist">
                    <div class="sidebar-block__product-image">
                        <a href="">
                            {{ render '@image' }}
                        </a>
                    </div>
                    <div class="sidebar-block__product-info">
                        <a class="link sidebar-block__link" href="#">
                            {{ name }}
                        </a>
                        {{ render '@price' }}
                    </div>
                </div>
                <div>
                    {{ render '@button' ../addToCart }}
                    {{ render '@button--secondary' ../removeFromWishlist }}
                </div>
            </li>
        {{/each}}
    </ol>
    {{ render '@button--link' goToWishlist }}
</div>
