<div class="sidebar-block">
    <div class="sidebar-block__heading">
        {{ render '@heading' title }}
    </div>
    <ol class="list sidebar-block__list">
        {{#each product}}
            <li class="{{ ../recentlyViewedListItemClass }}">
                <div class="sidebar-block__item">
                    <div class="sidebar-block__product-image">
                        <a href="#">
                            {{ render '@image' }}
                        </a>
                    </div>
                    <div class="sidebar-block__product-info">
                        <a href="#" class="link sidebar-block__link">
                            {{ name }}
                        </a>
                        {{ render '@price--with-special-price' }}
                    </div>
                </div>
                <div class="sidebar-block__actions">
                    {{ render '@button' ../addToCart }}
                </div>
            </li>
        {{/each}}
    </ol>
</div>
