<div class="sidebar-block">
    <div class="sidebar-block__heading {{ headingClass }}">
        {{ render '@heading' title }}
        <span class="sidebar-block__counter">
            {{ qty }}
        </span>
    </div>
    <ol class="list sidebar-block__list">
        {{#each product}}
            <li class="{{ ../wishlistListItemClass }}">
                <div class="sidebar-block__item">
                    <div class="sidebar-block__product-image">
                        <a href="#">
                            {{ render '@image' }}
                        </a>
                    </div>
                    <div class="sidebar-block__product-info">
                        <a  href="#" class="link sidebar-block__link">
                            {{ name }}
                        </a>
                        {{ render '@price' }}
                    </div>
                </div>
                <div class="sidebar-block__actions">
                    {{ render '@button' ../addToCart }}
                    {{ render '@button' ../removeFromWishlist }}
                </div>
            </li>
        {{/each}}
    </ol>
    {{ render '@button' goToWishlist }}
</div>
