<div class="sidebar-block">
    <div class="sidebar-block__heading">
        {{ render '@heading' title }}
        <span class="sidebar-block__counter">
            {{ qty }}
        </span>
    </div>
    <ol class="list sidebar-block__list">
        {{#each product}}
            <li class="sidebar-block__item">
                {{ render '@button--icon' ../removeButton }}
                {{ render '@link' productName }}
            </li>
        {{/each}}
    </ol>
    <div class="sidebar-block__actions">
        {{ render '@link' compareLink }}
        {{ render '@button' clearButton }}
    </div>
</div>
