<div class="sidebar-block">
    <div class="sidebar-block__heading">
        {{ render '@heading' title }}
    </div>
    <ol class="list sidebar-block__list">
        {{#each product}}
            <li>
                <div class="sidebar-block__item">
                    <a href="#" class="link sidebar-block__link">
                        {{ name }}
                    </a>
                </div>
                {{ render '@checkbox' checkbox }}
            </li>
        {{/each}}
    </ol>
    <div class="sidebar-block__actions">
        {{ render '@button' addToCart }}
        {{ render '@link' viewAll }}
    </div>
</div>
