<section class="slider {{ class }}" {{{ attributes }}}>
    <div class="slider__handler">
        <div class="slider__slides">
            {{#each slides }}
                <div
                    class="slider__item {{ this.itemClass }}"
                    {{{ this.itemAttributes }}}
                >
                    {{ render (component content) contentContext }}
                </div>
            {{/each}}
        </div>
    </div>

    <div class="slider__navigation {{ navigationClass }}">
        {{render '@button--icon' iconPrev }}

        {{render '@button--icon' iconNext }}
    </div>
    <div class="slider__dots {{ dotsClass }}"></div>
</section>

{{#if script }}
    <script src="{{ static 'slider.js' }}"></script>
{{/if}}
