<div class="slider {{ class }}" {{{ attributes }}}>
    {{#if heading }}
        <div class="slider__heading {{ heading.class }}">
            {{ render (component heading.content) heading.contentContext merge=true }}
        </div>
    {{/if }}

    {{#if contentBefore }}
        <div class="slider__before {{ contentBefore.class }}">
            {{ render (component contentBefore.content) contentBefore.contentContext merge=true }}
        </div>
    {{/if }}

    <div class="slider__wraper">
        <div class="slider__container">
            <div class="slider__navigation {{ navigationClass }}">
                {{render '@button--icon' iconPrev }}

                {{render '@button--icon' iconNext }}
            </div>

            <div class="slider__handler">
                <div class="slider__slides">
                    {{#each slides }}
                        <div
                            class="slider__item {{ this.itemClass }}"
                            {{{ this.itemAttributes }}}
                        >
                            {{ render (component content) contentContext merge=true }}
                        </div>
                    {{/each}}
                </div>
            </div>

            <div class="slider__dots {{ dotsClass }}"></div>
        </div>
    </div>

    {{#if contentAfter }}
        <div class="slider__after {{ contentAfter.class }}">
            {{ render (component contentAfter.content) contentAfter.contentContext merge=true }}
        </div>
    {{/if }}
</div>

{{#if script }}
    <script src="{{ static 'slider.js' }}"></script>
{{/if}}
