<div class="page-wrapper">
    {{ render '@header' }}

    <main
        id="maincontent"
        class="
            dashboard
            container
            {{ class }}
        "
    >
        {{ render '@breadcrumbs' breadcrumbs }}
        <div class="row">
            <div
                class="
                    col-xs-12
                    col-lg-3
                    {{ sidebarClass }}
                "
            >
                {{ render '@dashboard-nav' }}
            </div>
            <div
                class="
                    col-xs-12
                    col-lg-9
                    {{ contentClass }}
                "
            >
                {{ render '@heading' heading }}


                <form class="dashboard-form">
                    {{ render '@heading' headingForm }}

                    <fieldset class="fieldset {{ fieldset.class }}">
                        <legend
                            class="
                                fieldset__legend
                                {{ legendSender.class}}
                            "
                        >
                            {{ legendSender.text }}
                        </legend>

                        {{ render '@input' nameInput }}

                        {{ render '@input--textarea' textarea }}

                    </fieldset>

                    <fieldset class="fieldset {{ fieldset.class }}">
                        <legend
                            class="
                                fieldset__legend
                                {{ legendInvite.class}}
                            "
                        >
                            {{ legendInvite.text }}
                        </legend>

                        <div id="recipients-options">
                            <div class="field {{ field.class }}">
                                {{ render '@input' firstNameInput }}

                                {{ render '@input' emailInput }}
                            </div>

                            <div class="field {{ field.class }}">
                                {{ render '@input' firstNameInput }}

                                {{ render '@input' emailInput }}

                                {{ render '@button--secondary' buttonRemove }}
                            </div>
                        </div>

                        {{ render '@button' buttonAdd }}
                    </fieldset>

                    {{ render '@actions-group' actions }}

                </form>
            </div>
        </div>
    </main>
</div>

{{ render '@footer' }}
