<form class="dashboard-form {{ class }}">
    <h3 class="dashboard-form__title">
        {{ title }}
    </h3>

    <fieldset class="fieldset dashboard-form__divider {{ contentClass }}">
        {{#each fields }}
            {{> '@input' input }}
        {{/each}}

        {{#each textareas }}
            {{> '@input--textarea' textarea }}
        {{/each}}

        {{#each selects }}
            {{> '@select' select }}
        {{/each}}

        {{#each checkboxes }}
            {{> '@checkbox' checkbox }}
        {{/each}}

        <div class="
                dashboard-form__divider
                dashboard-form__fields
                dashboard-form--hidden
             "
        >
            <h5 class="
                    heading
                    heading--sixth-level
                    dashboard-form__title-form
                    dashboard-form__divider
                "
            >
                {{ formTitle }}
            </h5>

            {{#each hiddenFields}}
                {{> '@input' hiddenField }}
            {{/each}}
        </div>
    </fieldset>
</form>

<script src="{{ static '../dashboard-form/form.js' }}"></script>
