<div class="page-wrapper">
    {{ render '@header' }}

  <main class="container" id="maincontent">
      {{ render '@breadcrumbs' }}
      {{ render '@heading' mainHeading merge=true }}

      <div class="row center-xs search-no-results">
          <div class="col-xs-12 col-md-8 search-no-results__content">
              {{ render '@icon' icon merge=true}}
              {{ render '@paragraph' cmsContent merge=true }}
              {{ render '@button' homeLink merge=true }}
          </div>
      </div>

  </main>
</div>

{{ render '@footer' }}
