<div class="toolbar {{ class }}" {{{ attributes }}}>
    {{#if showMode }}
        <div class="toolbar__mode">
            {{ render '@button--icon' gridMode merge=true }}
            {{ render '@button--icon' listMode merge=true }}
        </div>
    {{/if}}

    {{#if showSorter }}
        {{ render '@select' sortBy merge=true }}
    {{/if}}

    {{#if showAmount }}
        <div class="toolbar__amount {{ amount.class }}">
            <span class="toolbar__amount-content">
                {{ amount.prefix }} {{ amount.currentRange }} {{ amount.preposition }}
                {{ amount.total }}
            </span>
        </div>
    {{/if}}

    {{#if showLimit }}
        {{ render '@select' limiter.select merge=true }}
    {{/if}}

    {{#if showPager }}
        {{ render '@pager' pager merge=true }}
    {{/if}}
</div>
