<div class="page-wrapper">
    {{ render '@header' }}
    <main
        id="maincontent"
        class="
            container
            auth
            {{ class }}
        "
    >
        {{ render '@breadcrumbs' breadcrumbs }}
        {{ render '@heading' mainHeading merge=true }}
        <div class="auth__links {{authLinks.class}}">
            <a
                href="#"
                class="
                    button
                    button--link
                    auth__link
                    {{ authLinks.loginClass }}
                "
            >
                {{ authLinks.loginText }}
                {{ render '@icon' linkIcon }}
            </a>
            <a
                href="#"
                class="
                    button
                    button--link
                    auth__link
                    {{ authLinks.registerClass }}
                "
            >
                {{ authLinks.registerText }}
                {{ render '@icon' linkIcon }}
            </a>
        </div>
        {{ render (component authForm.name) authForm.context }}
        <div class="auth__links {{authLinks.class}}">
            <a
                href="#"
                class="
                    button
                    button--link
                    auth__link
                    {{ authLinks.registerMobileClass }}
                "
            >
                {{ authLinks.registerText }}
                {{ render '@icon' linkIcon }}
            </a>
        </div>
    </main>
</div>

{{ render '@footer' }}
