<div class="page-wrapper">
    {{ render '@header' }}
    <main
        id="maincontent"
        class="
            container
            auth
            {{ class }}
        "
    >
        {{ render '@breadcrumbs' breadcrumbs }}
        {{ render '@heading' mainHeading merge=true }}
        <div class="auth__links {{ authLinks.class }}">
            <{{ authLinks.loginTag }}
                class="
                    button
                    button--link
                    auth__link
                    {{ authLinks.loginClass }}
                "
                {{{ authLinks.loginAttributes }}}
            >
                {{ authLinks.loginText }}
                {{ render '@icon' linkIcon }}
            </{{ authLinks.loginTag }}>
            <{{ authLinks.registerTag }}
                class="
                    button
                    button--link
                    auth__link
                    {{ authLinks.registerClass }}
                "
                {{{ authLinks.registerAttributes }}}
            >
                {{ authLinks.registerText }}
                {{ render '@icon' linkIcon }}
            </{{ authLinks.registerTag }}>
        </div>
        {{ render (component authForm.name) authForm.context }}
        <div class="auth__links {{ authLinks.class }}">
            <{{ authLinks.registerTag }}
                class="
                    button
                    button--link
                    auth__link
                    {{ authLinks.registerMobileClass }}
                "
                {{{ authLinks.registerAttributes }}}
            >
                {{ authLinks.registerText }}
                {{ render '@icon' linkIcon }}
            </{{ authLinks.registerTag }}>
        </div>
    </main>
</div>

{{ render '@footer' }}
