<div class="quicksearch__wrapper">
    <section
        class="quicksearch quicksearch--visible"
        tabindex="0"
        aria-label="Quicksearch results"
        aria-live="assertive"
        aria-describedby="instructions"
    >
        <div class="quicksearch__results">
            <h2 class="quicksearch__results-heading margin-bottom-0">
                {{ results.text }}
                <span class="quicksearch__typed">
                    {{ results.typed }}
                </span>
            </h2>
        </div>
        <div class="quicksearch__content">
            {{#if noresults.visible }}
                <h2 class="quicksearch__empty">
                    {{ noresults.text }}
                </h2>
            {{/if }}
            <ul class="quicksearch__list quicksearch__list--column">
                {{#each product }}
                    <li class="quicksearch__product">
                        <a
                            href="#"
                            title="{{ name.text }}"
                        >
                            {{ render '@image' image }}
                        </a>
                        <div class="quicksearch__product-details">
                            <a
                                href="#"
                                class="link quicksearch__link"
                                title="{{ name.text }}"
                            >
                                {{ render '@heading' name }}
                            </a>
                            {{ render '@price--with-special-price' }}
                        </div>
                    </li>
                {{/each }}
            </ul>
            <div class="quicksearch__sidebar-column">
                <h3
                    id="qs-category-title"
                    class="quicksearch__sidebar-title"
                >
                    {{ category.title }}
                </h3>
                <ul class="quicksearch__list quicksearch__sidebar-list" aria-labelledby="qs-category-title">
                    {{#each category.items }}
                        <li class="quicksearch__sidebar-item">
                            <a
                                href="#"
                                class="
                                    link
                                    quicksearch__link
                                     {{ class }}
                                "
                                title="{{ name }}"
                            >
                                {{ name }}
                            </a>
                        </li>
                    {{/each }}
                </ul>
                <h3
                    id="qs-manufacturer-title"
                    class="quicksearch__sidebar-title"
                >
                    {{ manufacturer.title }}
                </h3>
                <ul class="quicksearch__list quicksearch__sidebar-list" aria-labelledby="qs-manufacturer-title">
                    {{#each manufacturer.items }}
                        <li class="quicksearch__sidebar-item">
                            <a
                                href="#"
                                class="
                                    link
                                    quicksearch__link
                                     {{ class }}
                                "
                                title="{{ name }}"
                            >
                                {{ name }}
                            </a>
                        </li>
                    {{/each }}
                </ul>
            </div>
            <div
                id="instructions"
                class="visually-hidden"
            >
                Available results: 4 products, 2 categories
            </div>
        </div>
        {{ render '@link' more }}
        {{ render '@button--rotate-icon' close }}
    </section>
</div>
