<div class="paragraph">
    <p>
        {{basicText}}

        <a href="#">
            {{basicText}}
        </a>
    </p>

    <span>
        {{basicText}}
    </span>

    <pre>{{basicText}}</pre>

    <blockquote>
        {{basicText}}
    </blockquote>
</div>
