<div class="paragraph {{ class }}">
    {{#if tag }}
        <{{{ tag }}} {{{ attributes }}}>
            {{{ text }}}
        </{{{ tag }}}>
    {{/if}}
    {{#if contentElement }}
        {{ render (component contentElement) contentContext }}
    {{/if}}
</div>
