<div id="payment" role="presentation" class="checkout-payment-method">
    <div class="items payment-methods">
        <div class="payment-group">
            <div
                class="payment-methods__heading"
                data-role="title"
            >
                {{ heading }}
            </div>

            {{#each paymentMethods }}
                <div class="payment-method">
                    <div class="payment-method-title">
                        <input
                            type="radio"
                            name="payment[method]"
                            class="radio"
                            id="{{ id }}"
                            value="{{ id }}"
                        >
                        <label
                            class="label"
                            for="{{ id }}"
                        >
                            {{#if logo}}
                                <img
                                    class="payment-icon"
                                    src="{{ logo }}"
                                />
                            {{/if}}
                            <span>{{ label }}</span>
                        </label>
                    </div>

                    <div class="payment-method-content">
                        content
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>
