<div class="page-wrapper">
    {{ render '@header' }}

    <div class="dashboard container">
        <div class="row">
            <div class="col-xs-12 col-md-4 col-lg-3">
                {{ render '@dashboard-nav' }}
            </div>

            <div class="col-xs-12 col-md-8 col-lg-9">
                {{ render '@heading' title }}

                <a
                    href="#"
                    class="product-reviews__image"
                    title="{{ product.name.text }}"
                >
                    {{ render '@image' product.image }}
                </a>

                <div class="product-reviews__details">
                    <a href="#" title="{{ product.name.text }}">
                        {{ render '@heading' product.name }}
                    </a>
                    {{ render '@review--add' }}
                </div>

                {{ render '@heading' yourReview }}

                {{ render '@review' }}
            </div>
        </div>
    </div>
</div>

{{ render '@footer' }}
