<div class="page-wrapper">
    {{ render '@header' }}

    <main
        id="maincontent"
        class="
            dashboard
            container
            {{ class }}
        "
    >
        {{ render '@breadcrumbs' breadcrumbs }}
        <div class="row">
            <div
                class="
                    col-xs-12
                    col-lg-3
                    {{ sidebarClass }}
                "
            >
                {{ render '@dashboard-nav' }}
            </div>
            <div
                class="
                    col-xs-12
                    col-lg-9
                    {{ contentClass }}
                "
            >
                {{ render '@heading' heading }}
                {{ render '@heading' title }}

                <a
                    href="#"
                    class="product-reviews__image"
                    title="{{ product.name.text }}"
                >
                    {{ render '@image' product.image }}
                </a>

                <div class="{{ product.name.wrapperClass }}">
                    <a
                        href="#"
                        class="{{ product.name.class }}"
                        title="{{ product.name.text }}"
                    >
                        {{ product.name.text }}
                    </a>
                </div>

                <div class="{{ detailsClass }}">
                    {{ render '@review--add' }}
                </div>

                {{ render '@heading' yourReview }}

                {{ render '@review' }}
            </div>
        </div>
    </main>
</div>

{{ render '@footer' }}
