<div class="page-wrapper">
    {{ render '@header' }}

    <main class="container">
        {{ render '@breadcrumbs' }}
        <div class="catalog-list">
            <div class="catalog-list__sidebar">
                {{ render '@filters' }}
            </div>
            <div class="catalog-list__products">
                {{ render '@toolbar' }}
                <ul class="catalog-grid">
                    {{ render '@product-grid-item' gridItem merge=true }}
                    {{ render '@product-grid-item' gridItem merge=true }}
                    {{ render '@product-grid-item' gridItem merge=true }}
                    {{ render '@product-grid-item' gridItem merge=true }}
                    {{ render '@product-grid-item' gridItem merge=true }}
                    {{ render '@product-grid-item' gridItem merge=true }}
                    {{ render '@product-grid-item' gridItem merge=true }}
                    {{ render '@product-grid-item' gridItem merge=true }}
                    {{ render '@product-grid-item' gridItem merge=true }}
                </ul>
                {{ render '@pager' }}
            </div>
            <div class="catalog-list__sidebar-additional">
                <!--  render '@sidebar-block'
                 render '@sidebar-block--recently-ordered'
                 render '@sidebar-block--wishlist'  -->
            </div>
        </div>
    </main>
</div>

{{ render '@footer' }}
