<div class="store-pickup {{ class }}">
    <div class="store-pickup__tabs">
        {{ render '@button' tabShippingButton }}
        {{ render '@button' tabPickInStoreButton }}
    </div>
    <div>
        {{ render '@heading' title }}
        {{#if noSelection }}
            {{ render '@paragraph' noSelection }}
            {{ render '@button' selectStoreButton }}
            {{ render '@button' nextButton }}
        {{/if }}
        {{#if selectedStore }}
            {{ render '@paragraph' selectedStore }}
            {{ render '@button' selectOtherStoreButton }}
            {{ render '@button' nextButton }}
        {{/if }}
    </div>
</div>
