<div class="gift-options {{ class }}" {{{ attributes }}}>
    <div class="gift-options__content">
        <p class="gift-options__subtitle">
            {{ content.subtitle }}
        </p>
        <ul class="gift-options__list {{ list.class }}">
            <li class="gift-options__item {{ item.class }}">
                {{ render '@image' }}
            </li>
            <li class="gift-options__item {{ item.class }}">
                {{ render '@image' }}
            </li>
        </ul>
        <div class="gift-options__preview">
            {{ render '@image' }}
        </div>
        <div class="gift-options__details {{ details.class }}">
            <span class="gift-options__item-name">
                {{ details.name }}
            </span>
            {{ render '@price' }}
            {{ render '@button' details.removeItem }}
        </div>
        <fieldset
            class="
                fieldset
                {{ additional.fieldset.class }}
            "
            {{{ additional.fieldset.attributes }}}
        >
            <legend
                class="
                    fieldset__legend
                    {{ additional.legend.class }}
                "
                {{{ additional.legend.attributes }}}
            >
                {{ additional.legend.text }}
            </legend>
            {{ render '@checkbox' }}
            {{ render '@checkbox' }}
        </fieldset>
    </div>

    <div class="gift-options__message">
        <p class="gift-options__subtitle">
            {{ message.subtitle }}
        </p>
        <fieldset
            class="
                fieldset
                {{ message.fieldset.class }}
            "
            {{{ message.fieldset.attributes }}}
        >
            <legend
                class="
                    fieldset__legend
                    {{ message.legend.class }}
                "
                {{{ message.legend.attributes }}}
            >
                {{ message.legend.text }}
            </legend>

            {{ render '@input' to }}
            {{ render '@input' from }}
            {{ render '@input--textarea' message }}
        </fieldset>
        {{ render '@actions-group' actions }}
    </div>
</div>
