<div class="page-wrapper">
    {{ render '@header' }}
    <main
        id="maincontent"
        class="page-main container"
    >
        {{ render '@heading' heading }}

        <div class="paypal-review">
            <div
                class="
                    payapal-review__details
                    row
                    margin-bottom-m
                "
            >
                <div
                    class="
                        payapal-review__details-item
                        col-lg-4
                        margin-right-auto
                        margin-bottom-m
                    "
                >
                    {{ render '@select' shippingMethodSelect merge=true }}
                </div>

                <div
                    class="
                        payapal-review__details-item
                        col-lg-3
                        margin-bottom-m
                    "
                >
                    {{ render '@heading' shippingAddress.title }}

                    {{{ shippingAddress.details }}}

                    {{ render '@actions-group' shippingAddress.actions }}
                </div>

                <div
                    class="
                        payapal-review__details-item
                        col-lg-3
                        margin-bottom-m
                    "
                >
                    {{ render '@heading' paymentMethod.title }}

                    {{{ paymentMethod.details }}}

                    {{ render '@actions-group' paymentMethod.actions }}
                </div>
            </div>

            <div
                class="
                    payapal-review__discount
                    row
                    margin-bottom-xl
                "
            >
                <div class="col-lg-5">
                    {{ render '@discount-code' }}
                </div>
            </div>

            <div class="payapal-review__shopping-cart">
                {{ render '@heading' shoppingCart.title }}
                {{ render '@actions-group' shoppingCart.actions }}
                {{ render '@table' table }}
            </div>

            {{ render '@button' submitBtn }}
        </div>
    </main>
</div>

{{ render '@footer' }}