<{{{ tag }}} class="button button--add-to {{ class }}" {{{ attributes }}}>
    {{#if text }}
        <span class="button__text {{ textClass }}">
            {{{ text }}}
        </span>

        {{#if icon }}
            {{ render '@icon' icon }}
        {{/if}}
    {{else}}
        {{ render '@icon' icon }}
    {{/if}}
</{{{ tag }}}>
