<div class="review review--summary {{ class }}">
    <div class="review__summary-handle">
        {{ render '@rating' }}
        {{#if amountLink}}
            <a href="#" class="review__amount">
                {{ reviewsQty }}
            </a>
        {{else}}
            <span class="review__amount">
                {{ reviewsQty }}
            </span>
        {{/if}}
        <a href="#" class="review__summary-add">
            Add your review
        </a>
    </div>
</div>
