<div
    class="
        review
        review--summary
        {{ class }}
    "
>
    <div class="review__summary-handle">
        {{ render '@rating' rating }}

        <a
            href="#"
            class="review__summary-add"
        >
            {{#if reviewsQty}}
                {{ reviewsQty }}
            {{else}}
                {{ reviewsText }}
            {{/if}}
        </a>
    </div>
</div>
