<div class="review review--add {{ class }}" {{{ attributes }}}>
        <h3 class="review__title">
            {{ addTitle }}:
            <span class="review__title-product">
                {{ productTitle }}
            </span>
        </h3>
        {{ render '@rating--rate' rate merge=true }}
        <fieldset class="fieldset review__fieldset">
            {{ render '@input' nickname }}
            {{ render '@input' summary }}
            {{ render '@input--textarea' textReview }}
            {{ render '@button' submitReview merge=true }}
            <p class="review__required-info">
                * Required fields
            </p>
        </fieldset>
</div>
