<div class="review {{ class }}" {{{ attributes }}}>
    <div class="review__details">
        <h3 class="review__author">
            {{ author }}
        </h3>
        <div class="review__date">
            {{ date }}
        </div>
        {{> '@rating' rating }}
    </div>
    <div class="review__details">
        <h4 class="review__title">
            {{ title }}
        </h4>

        <div class="review__description">
            <p>{{ content }}</p>
        </div>
    </div>
</div>
