<div
    class="
        review
        {{ class }}
    "
    {{{ attributes }}}
>
    <div class="review__image">
        {{ render '@image' }}
    </div>

    <div class="review__details">
        <div class="review__wrapper">
            <div class="review__author-details">
                <h3 class="review__author-name">
                    {{ author }}
                </h3>
                <div class="review__author-description">
                    {{ authorDescription }}
                </div>
            </div>

            <div class="review__date">
                {{ date }}
            </div>
        </div>

        {{ render '@rating' rating }}

        <h4 class="review__title">
            {{ title }}
        </h4>

        <div class="review__description">
            <p>
                {{ content }}
            </p>
        </div>

        <div class="review__links">
            <div class="review__links-column">
                <a
                    href="#"
                    class="review__links-btn"
                >
                    {{ render '@icon' icons.share }}
                    <span>
                        {{ shareText }}
                    </span>
                </a>
            </div>

            <div class="review__links-column">
                <span class="review__links-legend">
                    {{ reviewText }}
                </span>

                <a
                    href="#"
                    class="review__links-btn"
                >
                    {{ render '@icon' icons.thumbUp }}
                    <span>1</span>
                </a>

                <a
                    href="#"
                    class="review__links-btn"
                >
                    {{ render '@icon' icons.thumbDown }}
                    <span>1</span>
                </a>
            </div>

        </div>
    </div>
</div>
