<div class="page-wrapper">
    {{ render '@header' }}
    <div class="container">
        {{ render '@breadcrumbs' breadcrumbs }}
        {{ render '@heading' mainHeading merge=true }}
        {{ render '@heading' productCount }}

        <div class="row compare">
            <div class="compare__inner">
                <table class="compare__table">
                    <tbody>
                        <tr class="compare__row">
                            <th class="compare__label">
                                Product
                            </th>

                            {{#each products}}
                                <td class="compare__cell">
                                    <div class="compare__product">
                                        <a href="#" class="compare__link compare__link--image">
                                            {{ render '@image' img }}
                                        </a>

                                        {{ render '@rating' rating merge=true }}

                                        <a href="#" class="compare__link">
                                            {{ name }}
                                        </a>

                                        <span class="price">
                                            {{ price }}
                                        </span>

                                        <div class="compare__buttons-container">
                                            <div class="compare__secondary-buttons">
                                                {{ render '@button--icon' remove }}
                                                {{ render '@button--icon' wishlist }}
                                            </div>
                                            <form class="compare__form">
                                                {{ render '@button' cart }}
                                            </form>
                                        </div>
                                    </div>
                                </td>
                            {{/each}}
                        </tr>

                        {{#each attributes}}
                            <tr class="compare__row">
                                <th class="compare__label">
                                    {{ label }}
                                </th>

                                {{#each products}}
                                    <td class="compare__cell">
                                        {{ this }}
                                    </td>
                                {{/each}}
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{{ render '@footer' }}
