<div class="dashboard-nav">
    <div class="dashboard-nav__mobile">
        {{ actualPage }}
    </div>

    <div class="dashboard-nav__content">
        {{ render '@list--link' list }}
    </div>
    <div class="dashboard-nav__actions">
        {{ render '@button' signOutButton }}
    </div>
    <div class="dashboard-nav__section margin-top-xl">
        {{ render '@sidebar-block' dashboardNavCompare merge=true}}
    </div>
    <div class="dashboard-nav__section">
        {{ render '@sidebar-block--wishlist' dashboardNavWishlist merge=true }}
    </div>
</div>

<script src="{{ static '../dashboard-nav/nav.js' }}"></script>
