<div class="dashboard-nav">
    <div class="dashboard-nav__mobile">
        {{ actualPage }}
    </div>

    <div class="dashboard-nav__content">
        {{> '@list--link' list }}
    </div>
    <div class="dashboard-nav__actions">
        {{ render '@button' signOutButton }}
    </div>
    <div class="dashboard-nav__section">
        {{ render '@heading' compare.heading }}
        <p class="dashboard-nav__section-info">
            {{ compare.text }}
        </p>
    </div>
    <div class="dashboard-nav__section">
        {{ render '@heading' wishlist.heading }}
        <p class="dashboard-nav__section-info">
            {{ wishlist.text }}
        </p>
    </div>
</div>

<script src="{{ static '../dashboard-nav/nav.js' }}"></script>
