{{#each informations }}
    <div class="information {{ class }}">
        <{{headingTag}} class="heading heading--fifth-level information__title">
            {{ title }}
        </{{headingTag}}>

        <p class="information__text">
            {{ text }}
        </p>
    </div>
{{/each}}
