<div class="dashboard-items {{ class }}">
    {{#if title }}
        <h3 class="dashboard-items__title {{ titleClass }}">
            {{ title }}
        </h3>
    {{/if}}
    {{#if informations }}
        <div class="row dashboard-items__content {{ contentClass }}">
            {{#each informations }}
                <div class="dashboard-items__item {{ this.class }}">
                    {{#if this.title }}
                        <h5 class="heading heading--sixth-level">
                            {{ this.title }}
                        </h5>
                    {{/if}}
                    {{#if this.information }}
                        <div class="dashboard-items__address">
                            {{ this.information }}
                        </div>
                    {{/if}}
                    {{#if actions }}
                        {{> '@action' actions }}
                    {{/if}}
                </div>
            {{/each}}
        </div>
    {{/if}}
</div>
