<div class="page-wrapper">
    {{ render '@header' }}
    <div class="container login">
        {{ render '@breadcrumbs' breadcrumbs }}
        {{ render '@heading' mainHeading merge=true }}
        <div class="login__links {{loginLinks.class}}">
            <a
                href="#"
                class="
                    button
                    button--link
                    login__link
                    {{ loginLinks.loginClass }}
                "
            >
                Login
                {{ render '@icon' linkIcon }}
            </a>
            <a
                href="#"
                class="
                    button
                    button--link
                    login__link
                    login__link--registration
                    {{ loginLinks.registerClass }}
                "
            >
                Create account
                {{ render '@icon' linkIcon }}
            </a>
        </div>
        {{ render '@login-form' }}
        <div class="login__links {{loginLinks.class}}">
            <a
                href="#"
                class="
                    button
                    button--link
                    login__link
                    login__link--registration-mobile
                    {{ loginLinks.registerClass }}
                "
            >
                Create account
                {{ render '@icon' linkIcon }}
            </a>
        </div>
    </div>
</div>

{{ render '@footer' }}
