<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link media="all" rel="stylesheet" href="{{ path '/css/styles.css' }}" />
        {{> @libs }}
    </head>
    <body class="components">
        {{{ yield }}}

        <script src="{{ path '/tests/libs/axe.min.js' }}"></script>
        <script src="{{ path '/tests/a11y-test.js' }}"></script>
    </body>
</html>
