<{{{ listTag }}} class="list {{ class }}" {{{ attributes }}}>
    {{# each elements }}
        <{{{ ../elementTag }}} class="list__item">
            <div class="list__image">
                {{ render '@image' }}
            </div>
            <div class="list__content">
                {{ text }}
            </div>
        </{{{ ../elementTag }}}>
    {{/ each }}
</{{{ listTag }}}>
