<{{{ listTag }}} class="list {{ class }}" {{{ attributes }}}>
    {{# each elements }}
        <{{{ ../elementTag }}} class="list__item {{ this.class }}">
            <a href="{{ iconItemLink }}" class="list__icon-link {{this.linkClass}}" {{{ linkAttributes }}}>
                {{ render '@icon' this.icon }}
            </a>
        </{{{ ../elementTag }}}>
    {{/ each }}
</{{{ listTag }}}>
