<{{{ listTag }}} class="list {{ class }}" {{{ attributes }}}>
    {{# each elements }}
        {{#if text}}
            <{{{ ../elementTag }}} class="list__item {{ this.class }}">
                <a
                    href="{{ link }}"
                    class="
                        link
                        {{ linkClass }}
                    "
                    {{{ linkAttributes }}}
                >
                    {{ text }}
                </a>
                {{#if this.isNested}}
                    {{ render (component content) contentContext }}
                {{/if}}
            </{{{ ../elementTag }}}>
        {{/if}}
    {{/ each }}
</{{{ listTag }}}>
