<{{{ listTag }}} class="list {{ class }}" {{{ attributes }}}>
    {{# each elements }}
        <{{{ ../elementTag }}} class="list__item {{ this.class }}">
            <a href="{{ link }}" class="link {{ linkClass }}" {{{ linkAttributes }}}>
                {{ render (component content) contentContext }}
            </a>
        </{{{ ../elementTag }}}>
    {{/ each }}
</{{{ listTag }}}>
