<{{{ listTag }}} class="list list__columns {{ class }}" {{{ attributes }}}>
    {{#each columns }}
        <{{{ ../elementTag }}} class="list__item list__column {{ this.class }}">
            <a
                href="{{ link }}"
                class="
                    link
                    {{ linkClass }}
                "
                {{{ linkAttributes }}}
            >
                {{ text }}
            </a>
            <{{{ ../listTag }}} class="list" {{{ attributes }}}>
                {{#each elements }}
                    <{{{ ../../elementTag }}} class="list__item list__column-item {{ this.class }}">
                        <a
                            href="{{ link }}"
                            class="
                                link
                                {{ linkClass }}
                            "
                            {{{ linkAttributes }}}
                        >
                            {{ text }}
                        </a>
                    </{{{ ../../elementTag }}}>
                {{/each }}
            </{{{ ../listTag }}}>
        </{{{ ../elementTag }}}>
    {{/each }}
</{{{ listTag }}}>
