<{{{ listTag }}} class="list {{ class }}" {{{ attributes }}}>
    {{# each elements }}
        <{{{ ../elementTag }}} class="list__item {{ this.class }}">
            <span class="list__label">
                {{ label }}
            </span>
            <span class="list__value">
                {{ value }}
            </span>
        </{{{ ../elementTag }}}>
    {{/ each }}
</{{{ listTag }}}>
