<div
    class="add-to-cart"
    data-aos="fade-up"
    data-aos-anchor="#submit-add-to-cart-main"
    data-aos-anchor-placement="bottom-top"
>
    <div class="add-to-cart__wrapper">
        <div class="add-to-cart__title {{ classTitle }}">
            <h2 class="heading heading--page">
                {{ title }}
            </h2>

            {{ render '@price--with-special-price' }}
        </div>
        <div class="add-to-cart__action">
            {{ render '@button--add-to' addToCartBtn merge=true }}
            <button
                class="
                    button
                    button--icon
                    add-to-cart__button-more
                "
                type="button"
                aria-expanded="false"
            >
                {{ render '@icon' moreIcon }}
                {{ render '@icon' moreIconClose }}
            </button>
            <div class="add-to-cart__action-secondary">
                {{#if wishlistBtn}}
                    {{ render '@button--icon' wishlistBtn }}
                {{/if}}
                {{#if compareBtn}}
                    {{ render '@button--icon' compareBtn }}
                {{/if}}
            </div>

        </div>

    </div>
</div>

<script src="{{ static 'add-to-cart-more.js' }}"></script>
