<nav
    class="pager {{ class }}"
    {{{attributes}}}
>
    <ul class="pager__list">
        <li class="pager__item">
            <a
                href="#"
                class="
                    pager__link
                    pager__link--prev
                    {{ navItem.class }}
                "
                aria-label="{{ ariaLabelLeft }}"
                {{#unless arrowLeftActive}}disabled tabindex="-1"{{/unless}}
            >
                {{ render '@icon' navItem.iconPrev }}
            </a>
        </li>

        {{#each pages as |page|}}
            {{#if this.active}}
                <li
                    class="pager__item pager__item--current"
                    aria-current="page"
                    aria-label="Page {{ pageNo }}, current page"
                >
                    {{ pageNo }}
                </li>
            {{else}}
                <li class="pager__item">
                    <a
                        href="#"
                        class="pager__link {{ class }}"
                        aria-label="{{ ariaLabel }}"
                    >
                        {{ pageNo }}
                    </a>
                </li>
            {{/if}}
        {{/each}}

        <li class="pager__item">
            <a
                href="#"
                class="
                    pager__link
                    pager__link--next
                    {{ navItem.class }}
                "
                aria-label="{{ ariaLabelRight }}"
                {{#unless arrowRightActive}}disabled tabindex="-1"{{/unless}}
            >
                {{ render '@icon' navItem.iconNext }}
            </a>
        </li>
    </ul>
</nav>
