<svg
    class="icon {{ class }}"
    {{{ attributes }}}
    {{#if hidden }}
        role="presentation"
    {{else}}
        role="img"
    {{/if}}
>
    {{#if title }}
        <title>{{ title }}</title>
    {{/if}}
    <use xlink:href="{{ svg id }}"></use>
</svg>
