<div
    class="cookie-message {{ class }}"
    data-type="{{ dataType }}"
    tabindex="0"
    aria-label="{{ ariaLabel }}"
>
    <div class="cookie-message__container">
        <p class="cookie-message__text">
            {{{ text }}}
        </p>

        <div class="cookie-message__actions">
            {{#each cookieActions as |action| }}
                <div
                    class="
                        cookie-message__action
                        {{ action.class }}
                    "
                    {{ action.attributes }}
                >
                    {{ render (component action.content) action.contentContext merge=true }}
                </div>
            {{/each}}
        </div>
    </div>
</div>
<script src="{{static 'cookie-message.js' }}"></script>
