<div
    class="cookie-message {{ class }}"
    data-type="{{ dataType }}"
    tabindex="0"
    aria-label="{{ ariaLabel }}"
>
    <div class="cookie-message__container">
        <span class="cookie-message__text">
            {{{ text }}}
        </span>

        <button
            class="
                button
                button--icon
                cookie-message__close
                {{ closeClass }}
            "
            type="button"
            {{#if closeAriaLabel }}
                aria-label="{{closeAriaLabel}}"
            {{/if}}
        >
            {{#if closeLabel}}
                {{ closeLabel }}
            {{/if}}
            {{#if closeIcon}}
                <svg
                    class="
                        cookie-message__close-icon
                        button__icon
                    "
                    aria-hidden="true"
                >
                    <use xlink:href="{{ svg closeIcon }}"></use>
                </svg>
            {{/if}}
        </button>
    </div>
</div>
<script src="{{static 'cookie-message.js' }}"></script>
