<div
    class="cookie-message {{ class }}"
    data-type="{{ dataType }}"
    tabindex="0"
    aria-label="{{ ariaLabel }}"
>
    <div class="cookie-message__container">
        <p class="cookie-message__text">
            {{{ text }}}
        </p>

        <button
            class="
                button
                button--icon
                cookie-message__close
                {{ closeClass }}
            "
            type="button"
            {{#if closeAriaLabel }}
                aria-label="{{closeAriaLabel}}"
            {{/if}}
        >
            {{#if closeLabel}}
                <span class="button__text">
                    {{ closeLabel }}
                </span>
            {{/if}}
            {{#if closeIcon}}
                {{ render '@icon' closeIcon }}
            {{/if}}
        </button>
    </div>
</div>
<script src="{{static 'cookie-message.js' }}"></script>
