<div class="page-wrapper">
    {{ render '@header--checkout' }}

    <main id="maincontent" class="page-main container">
        <div class="block-shipping {{ shippingClass }}">
            {{ render '@heading' heading }}
            {{ render '@multishipping-block-content' }}
            {{ render '@dashboard-table' table }}
        </div>
        {{ render '@actions-group' actions }}  
    </main>
</div>

{{ render '@footer--checkout' }}
