<div class="page-wrapper">
    {{ render '@header--checkout' }}

    <main id="maincontent" class="page-main container">
        {{ render '@dashboard-items' billingAddresses merge=true }}
        {{ render '@dashboard-items' shippingAddresses merge=true }}
        {{ render '@table' table }}
        {{ render '@dashboard-items' shippingAddresses merge=true }}
        {{ render '@table' table }}
        {{ render '@price' price }}
        {{ render '@checkbox' checkbox }}
        {{ render '@actions-group' actions }}  
    </main>
</div>

{{ render '@footer--checkout' }}
