<div class="store-pickup {{ class }}">
    <div class="store-pickup__tabs">
        <button
            class="store-pickup__tab"
            type="button"
        >
            {{ tabShippingButtonText }}
        </button>
        <button
            class="store-pickup__tab store-pickup__tab--active"
            type="button"
        >
            {{ tabPickInStoreButtonText }}
        </button>
    </div>
    <div>
        {{ render '@heading' title }}
        {{#if noSelection }}
            <div class="store-pickup__section">
                {{ render '@paragraph' noSelection }}
            </div>
        {{/if }}
        {{#if selectedStore }}
            <div class="store-pickup__section">
                {{ render '@paragraph' selectedStore.name }}
                {{ render '@paragraph' selectedStore.address }}
                {{ render '@paragraph' selectedStore.description }}
            </div>
        {{/if }}
        <div class="store-pickup__actions">
            {{ render '@modal' selectStoreModal }}
            {{ render '@button' nextButton }}
        </div>
    </div>
</div>
