<div class="page-wrapper">
    {{ render '@header' }}

    <div class="container">
        {{ render '@breadcrumbs' breadcrumbs }}
        {{ render '@heading' mainHeading merge=true }}

        <div class="row cart">
            <div
                class="
                    col-xs-12
                    col-lg-3
                    cart-summary
                "
            >
                {{ render '@heading' summary.heading }}

                <div class="cart-summary__total">
                    {{ render '@heading' summary.estimate }}

                    <div class="cart-summary__wrapper">
                        {{ render '@list--columns' summary.list }}
                    </div>
                </div>

                <div class="cart-summary__total">
                    {{ render '@heading' summary.total }}
                </div>

                {{ render '@button' }}

                {{ render '@button--link' }}
            </div>

            <div class="col-xs-12 col-lg-9">
                <div class="cart__product-grid">


                    {{ render '@button--secondary' items.updateCart }}
                </div>

                {{ render '@dropdown-list' dropdownList }}
            </div>
        </div>
    </div>
</div>

{{ render '@footer' }}
