
<div class="position-relative top-50">
    <div class="tooltip {{ class }}">
        {{#if triggerButton.icon}}
            {{ render '@button--icon' triggerButton }}
        {{else}}
            {{ render '@button' triggerButton }}
        {{/if}}

        <div
            class="tooltip__content-wrapper"
            aria-hidden="true"
            tabindex="-1"
        >
            {{ render '@button--icon' closeButton }}

            <h3 class="tooltip__heading">
                {{ title }}
            </h3>

            <div class="tooltip__content">
                {{ content }}
            </div>
        </div>
    </div>
</div>

<script src="{{static 'tooltip.js' }}"></script>
