<section class="cart-list-item {{ class }}" {{{ attributes }}}>
    <div class="cart-list-item__left">
        {{ render '@image--picture' image }}

        <div class="cart-list-item__content">
            {{ render '@heading' productName }}

            <div class="cart-list-item__attributes {{ productAttributes.class }}">
                {{#each productAttributes.items }}
                    <span class="cart-list-item__attribute">
                        {{ this }}
                    </span>
                {{/each}}
            </div>
        </div>
    </div>

    <div class="cart-list-item__right">
        <div class="cart-list-item__details">
            <div class="cart-list-item__wrapper">
                <span class="cart-list-item__label {{ price.labelClass }}">
                    {{ price.label }}
                </span>

                <span class="cart-list-item__price">
                    {{ price.amount }}
                </span>
            </div>

            {{ render '@input' qty }}

            <div class="cart-list-item__wrapper">
                <span class="cart-list-item__label {{ total.labelClass }}">
                    {{ total.label }}
                </span>

                <span class="cart-list-item__total">
                    {{ total.amount }}
                </span>
            </div>
        </div>

        <div class="cart-list-item__actions">
            {{ render '@button--icon' edit }}

            {{ render '@button--icon' delete }}
        </div>
    </div>
</section>
