<div class="filters">
    <div class="filters__item">
        {{ render '@button--icon' openButton }}

        <div
            class="filters__content-wrapper"
            aria-hidden="true"
        >
            <div class="filters__content">
                {{ render '@button--icon' closeButton }}

                <h2 class="filters__heading">
                    Category
                </h2>
                {{ render '@filter--category' }}
            </div>
        </div>
    </div>

    <div class="filters__item">
        {{ render '@button--icon' openButtonFilters }}

        <div
            class="filters__content-wrapper"
            aria-hidden="true"
        >
            <div class="filters__content">
                {{ render '@button--icon' closeButton }}

                <h2 class="filters__heading">
                    Filters
                </h2>
                <div class="dropdown-list filters__dropdown">
                    <ul class="dropdown-list__list">
                        {{ render '@active-filters' }}
                        {{ render '@filter--checkbox' }}
                        {{ render '@filter--range' }}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{ static 'filters.js' }}" defer></script>
<script src="{{ static '../dropdown-list/dropdown-list.js' }}" defer></script>
