<div class="filters">
    {{ render '@active-filters' }}
    <div class="filters__item">
        {{ render '@button--icon' openButton }}
        {{ render '@modal--tertiary' filterCategoryModal }}
    </div>

    <div class="filters__item">
        {{ render '@button--icon' openButtonFilters }}
        {{ render '@modal--tertiary' filterOptionsModal }}
    </div>
</div>
