<div class="filters">
    {{ render '@active-filters' }}
    {{#if filterCategoryModal}}
        <div class="filters__item">
            {{ render '@button--icon' openButton }}
            {{ render '@modal--tertiary' filterCategoryModal }}
        </div>
    {{/if}}
    {{#if filterOptionsModal}}
        <div class="filters__item">
            {{ render '@button--icon' openButtonFilters }}
            {{ render '@modal--tertiary' filterOptionsModal }}
        </div>
    {{/if}}
</div>
