<div class="filters">
    {{ render '@active-filters' }}
    <div class="filters__item">
        {{ render '@button--icon' openButton }}
        {{ render '@modal--tertiary' filterCategoryModal }}
    </div>

    <div class="filters__item">
        {{ render '@button--icon' openButtonFilters }}
        {{ render '@modal--tertiary' filterOptionsModal }}
    </div>
</div>

<!-- required only for components display -->
{{#if dropdownListId }}
    <script type="text/javascript">
        new DropdownList(document.getElementById('{{ dropdownListId }}'));
    </script>
{{/if}}
