<div
    class="contact-bar {{ class }}"
    {{{ attributes }}}
>
    <div class="contact-bar__wrapper">
        <div class="contact-bar__container {{ containerClass }}">
            <ul class="list contact-bar__list">
                {{#each menu.items }}
                    <li class="list-item contact-bar__item">
                        <a
                            href="{{ link }}"
                            class="
                                contact-bar__link
                                {{ ../linkClass }}
                            "
                        >
                            <span
                                class="
                                    button__text
                                    contact-bar__text
                                "
                            >
                                {{ text }}
                            </span>
                        </a>
                    </li>
                {{/each}}
            </ul>
            <ul class="list contact-bar__list contact-bar__list--icons">
                {{#if phone.text }}
                <li class="list-item contact-bar__item">
                    <a
                        href="tel:{{ phone.number }}"
                        class="
                            contact-bar__link
                            {{ linkClass }}
                        "
                    >
                        <span
                            class="
                                icon
                                contact-bar__icon
                            "
                            aria-label="{{ phone.icon.iconTitle }}"
                        >
                            {{ render '@icon' phone.icon }}
                        </span>
                        <span
                            class="
                                button__text
                                contact-bar__text
                            "
                        >
                            {{ phone.text }}
                        </span>
                    </a>
                </li>
                {{/if}}
                {{#if email }}
                <li class="contact-bar__item">
                    <a
                        href="mailto:{{ email.address }}"
                        class="
                            contact-bar__link
                            {{ linkClass }}
                        "
                    >
                        <span
                            class="
                                icon
                                contact-bar__icon
                            "
                            aria-label="{{ email.icon.iconTitle }}"
                        >
                            {{ render '@icon' email.icon }}
                        </span>
                        <span
                            class="
                                button__text
                                contact-bar__text
                            "
                        >
                            {{ email.text }}
                        </span>
                    </a>
                </li>
                {{/if}}
            </ul>
        </div>
    </div>
</div>
