<div class="page-wrapper">
    {{ render '@header' }}
    <div class="container login">
        {{ render '@breadcrumbs' breadcrumbs }}
        {{ render '@heading' mainHeading merge=true }}
        <div
            class="
                login__links
                login__links--registration
                {{loginLinks.class}}
            "
        >
            <a
                href="#"
                class="
                    button
                    button--link
                    login__link
                    {{ loginLinks.loginClass }}
                "
            >
                Login
                {{ render '@icon' linkIcon }}
            </a>
            <a
                href="#"
                class="
                    button
                    button--link
                    login__link
                    login__link--registration
                    {{ loginLinks.registerClass }}
                "
            >
                Create account
                {{ render '@icon' linkIcon }}
            </a>
        </div>
        {{ render '@account-form--registration' }}
    </div>
</div>

{{ render '@footer' }}
