{{#if popupTrigger }}
    {{ render '@button' buttonPopupTrigger merge=true }}
{{/if}}
<dialog data-popup="{{ popupId }}" class="popup {{ class }}" role="alertdialog" >
    <div class="popup__handler">
        <div class="popup__content" tabindex="0" role="document">
            {{ render (component content) contentContext }}
        </div>
        {{#if buttonClose }}
            {{ render '@button--icon' buttonClose }}
        {{/if}}
    </div>
</dialog>

{{#if script }}
<script src="{{static 'popup.js' }}"></script>
{{/if}}
