{{ render '@marketing-bar' }}
<header class="header">
    <div class="container">
        <div class="header__wrapper">
            {{ render '@logo' logo }}
            {{ render '@side-menu' }}
            <div class="header__brief-info">
                {{ render '@brief-info' briefInfo }}
            </div>
            <div class="header__buttons">
                {{#each buttons as |item| }}
                    <a class="header-button {{ item.class }}"
                       href="#"
                       aria-label="{{ item.ariaLabel }}"
                    >
                        {{ render '@icon' item.icon }}
                    </a>
                {{/each}}
                <div class="header__minicart">
                    <button
                        type="button"
                        class="header-button popup-trigger margin-left-xs"
                        aria-label="{{ minicartTrigger.ariaLabel }}"
                        data-popuptrigger="popup-minicart"
                    >
                        {{ render '@icon' minicartTrigger.icon }}
                        <span class="header-button__counter">
                            <span class="header-button__counter-dot"></span>
                        </span>
                    </button>
                </div>
                <!-- render '@popup' minicartPopup -->
            </div>
            <div class="header__search-wrapper">
                <form class="search-form">
                    {{ render '@input' searchInput }}
                    {{ render '@button--icon' searchButton }}
                </form>
            </div>
        </div>
    </div>
</header>
<!-- render '@mega-menu' -->
