<div class="
         gallery
         {{ class }}
         {{#if typeHorizontal }}
             gallery--horizontal
         {{else}}
             gallery--vertical
         {{/if}}
     "
     {{{ attributes }}}
>
    <div class="
             gallery__stage
             {{ stage.class }}
             {{#if typeHorizontal }}
                 gallery__stage--horizontal
             {{else}}
                 gallery__stage--vertical
             {{/if}}
         "
    >
        <div class="gallery__frame">
            <div class="gallery__labels">
                {{#each productLabels as |label| }}
                    {{ render '@badge' label }}
                {{/each}}
            </div>

            {{ render '@image' imageMain }}
        </div>
    </div>

    <div class="gallery__nav
                {{#if typeHorizontal }}
                    gallery__nav--horizontal
                {{else}}
                    gallery__nav--vertical
                {{/if}}
                {{ nav.class }}
         "
   >
        <button
            type="button"
            class="gallery__thumb-arr"
        >
            <svg class="
                     gallery__icon-arrow
                     {{#if typeHorizontal }}
                         gallery__icon-arrow--horizontal
                     {{else}}
                         gallery__icon-arrow--vertical
                     {{/if}}
            ">
                <use xlink:href="{{ svg 'angle-up' }}"></use>
            </svg>
        </button>

        {{#each thumbs }}
            <div class="
                     gallery__thumb
                     {{#if imageThumb.active}}
                         gallery__thumb--active
                     {{/if}}
                 "
            >
                {{ render '@image' imageThumb }}
            </div>
        {{/each}}

        <button
            type="button"
            class="gallery__thumb-arr"
        >
            <svg class="
                     gallery__icon-arrow
                     {{#if typeHorizontal }}
                         gallery__icon-arrow--horizontal
                     {{else}}
                         gallery__icon-arrow--vertical
                     {{/if}}
                 "
            >
                <use xlink:href="{{ svg 'angle-down' }}"></use>
            </svg>
        </button>
    </div>
</div>
