<a class="logo {{ class }}" href="{{ href }}" aria-label="{{ ariaLabel}}">
    <img
        class="logo__image {{ imageClass }}"
        src="{{ imageSrc }}"
        alt="{{ imageAlt }}"
        {{{ imageAttributes }}}
    >
</a>
