<div
    class="lazyload-wrapper ratio-container"
    style="padding-bottom: {{ ratio }}"
>
    <img
        class="
            image
            lazyload
            ratio-image
        "
        src="{{ src }}"
        data-src="{{ dataSrc }}"
        alt="{{ alt }}"
        {{ attributes }}
    >
</div>
