<div class="lazyload-wrapper {{ wrapperClass }}">
    <img
        class="image lazyload {{ class }}"
        src="{{ src }}"
        data-src="{{ dataSrc }}"
        alt="{{ alt }}"
        {{ attributes }}
    >
</div>
