<div
    class="
        lazyload-wrapper
        ratio-container
        {{ wrapperClass }}
    "
    style="padding-bottom: {{ ratio }}"
>
    <img
        class="
            image
            lazyload
            ratio-image
            {{ class }}
        "
        src="{{ src }}"
        data-src="{{ dataSrc }}"
        alt="{{ alt }}"
        {{ attributes }}
    >
</div>
