<section class="catalog-event {{ class }}">
    {{ render '@heading' heading }}

    <ul class="catalog-event__ticker {{ ticker.class }}">
        {{#each ticker.elements }}
            <li class="catalog-event__ticker-item {{ this.class }}">
                <p class="catalog-event__ticker-value {{ this.value.class }}">
                    {{ this.value.text }}
                </p>
                <span class="catalog-event__ticker-label {{ this.label.class }}">
                    {{ this.label.text }}
                </span>
            </li>
        {{/each}}
    </ul>
</section>
