<section class="catalog-event {{ class }}">
    {{ render '@heading' heading }}

    {{#if subheading}}
        {{ render '@heading' subheading }}
    {{/if}}

    <ul class="catalog-event__date {{ date.class }}">
        {{#each date.elements }}
            <li class="catalog-event__date-item {{ this.class }}">
                <p class="catalog-event__date-value {{ this.value.class }}">
                    {{ this.value.text }}
                </p>
                <span class="catalog-event__date-label {{ this.label.class }}">
                    {{ this.label.text }}
                </span>
            </li>
        {{/each}}
    </ul>
    {{#if button}}
        {{ render '@button' button }}
    {{/if}}
</section>
