<div class="page-wrapper">
    {{ render '@header--checkout' }}

    <main id="maincontent" class="page-main container">
        {{ render '@heading' heading }}
        {{ render '@dashboard-table' table }}
        {{ render '@actions-group' actions }}  
    </main>
</div>

{{ render '@footer--checkout' }}
