<div class="minicart-product">
    <div class="minicart-product__image">
        {{ render '@image' productImage }}
    </div>
    <div class="minicart-product__data">
        <div class="minicart-product__info">
            <div class="minicart-product__name-wrapper">
                <h3 class="minicart-product__name">
                    <a
                        class="
                            link
                            link--invert
                            minicart-product__link
                        "
                        href="#"
                    >
                        {{ productName }}
                    </a>
                </h3>
                <div class="minicart-product__price margin-bottom-xs">
                    {{ render '@price--with-special-price' }}
                </div>
            </div>
            {{#if configurable }}
                {{ render '@list--description' attributes merge="true" }}
            {{/if}}
        </div>

        <div class="minicart-product__bottom">
            <div class="minicart-product__qty">
                {{ render '@input' productQty }}
                {{#if updateQty }}
                    {{ render '@button' updateQty }}
                {{/if}}
            </div>

            <div class="minicart-product__actions">
                {{ render '@button--icon' editIcon }}
                {{ render '@button--icon' removeIcon }}
            </div>
        </div>
    </div>
</div>
