<div class="select {{ class }}" {{{ attributes }}}>
    <label
        class="
            label
            select__label
            {{ label.class }}
        "
        for="{{ field.id }}"
        {{{ label.attributes }}}
    >
        {{ label.text }}
    </label>
    <select
        id="{{ field.id }}"
        class="select__field {{ field.class }}"
        name="{{ field.name }}"
        {{{ field.attributes }}}
    >
        {{#each options}}
            <option value="{{ value }}" {{ attributes }}>
                {{text}}
            </option>
        {{/each}}
    </select>
</div>

<script src="{{ static 'select.js' }}"></script>
