<div class="radio {{ class }}">
    <fieldset class="fieldset {{ fieldsetClass }}" aria-labelledby="{{ legendId }}">
        {{#if legend }}
            <legend class="radio__legend" id="{{ legendId }}">
                {{ legend }}
            </legend>
        {{/if }}
        {{#each options}}
            <div class="radio__handler">
                <input
                    type="radio"
                    id="{{ id }}"
                    name="{{ ../name }}"
                    class="radio__field"
               >
                <label
                    for="{{ id }}"
                    class="radio__label"
                >
                    <span class="radio__icon"></span>
                    <span class="radio__text">
                        {{ label }}
                    </span>
                </label>
            </div>
        {{/each}}
    </fieldset>
</div>
