<div class="page-wrapper">
    {{ render '@header' }}

    <div class="dashboard container">
        <div class="row">
            <div class="col-xs-12 col-md-4 col-lg-3">
                {{ render '@dashboard-nav' }}
            </div>

            <div class="col-xs-12 col-md-8 col-lg-9">

                <div class="dashboard__handler">
                    <h3 class="heading heading--third-level dashboard__title--wrapped">
                        {{ orderNumber }}
                    </h3>

                    <span class="dashboard__status">
                        {{ orderStatus }}
                    </span>
                </div>

                {{> '@action' orderActions }}

                {{> '@dashboard-table' itemsOrdered }}

                {{> '@dashboard-table' invoice }}

                {{> '@dashboard-table' orderShipment }}

                <h2 class="heading heading--fifth-level dashboard__title">
                    {{ orderInfoTitle }}
                </h2>

                <div class="row">
                    {{> '@information' orderInfo }}
                </div>

                {{> '@action' action }}
            </div>
        </div>
    </div>
</div>

{{ render '@footer' }}
