<div class="block-content {{ class }}">
    {{#each row}}
        <div class="row">
            {{#each box}}
                <div class="col-md-6">
                    <div class="box">
                        <strong class="box-title">
                            {{#if link }}
                                <span>
                                    {{ titleText }}
                                </span>
                                {{ render '@link' link.button }}
                            {{else}}
                                {{ titleText }}
                            {{/if}}
                        </strong>
                        <div class="box-content {{ contentClass }}">
                            {{#if contentComponent}}
                                {{ render (component contentComponent) contentContext }}
                            {{else}}
                                <{{ contentTag }} class="{{ contentTextClass }}">
                                    {{ contentText }}
                                </{{ contentTag }}>
                            {{/if}}
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    {{/each}}
</div>
