<div class="page-wrapper">
    {{ render '@header' }}

    <div class="product-view container">
        {{ render '@breadcrumbs' }}

        <div class="product-view__container">
            <div class="product-view__wrapper">
                <div class="product-view__description">
                    <div class="product-view__sku">
                        SKU: CEL-31145
                    </div>

                    <div class="product-view__title">
                        <h1 class="heading heading--page">
                            {{ title }}
                        </h1>
                    </div>
                </div>

                <div class="product-view__gallery">
                    {{ render '@gallery--with-label' }}
                </div>

                <div class="product-view__details">
                    <div class="product-view__rating">
                        {{ render '@review--summary' review }}

                        <div class="product-view__stock">
                            In Stock
                        </div>
                    </div>

                    <div class="product-view__price">
                        {{ render '@price--between' }}
                    </div>

                    <form class="product-view__form">
                        <div class="product-view__customization">
                            {{ render '@bundle-option' }}
                            {{ render '@bundle-option--checkbox' }}
                            {{ render '@bundle-option--select' }}
                        </div>

                        <div class="product-view__qty">
                            <label class="label" for="qty">
                                Quantity
                            </label>

                            {{ render '@quantity-update' }}
                        </div>

                        <div class="product-view__buttons">
                            {{ render '@button--fluid' submitBtn }}
                            {{ render '@button--icon-light' heartBtn }}
                            {{ render '@button--icon-light' compareBtn }}
                        </div>

                        {{ render '@add-to-cart' }}
                    </form>

                    <div class="product-view__summary">
                        <div class="product-view__summary-price">
                            {{ render '@price' price merge=true }}

                            <span class="product-view__summary-unit">
                                {{ priceUnit }}
                            </span>
                        </div>

                        <div class="product-view__summary-title">
                            {{ summaryTitle }}
                        </div>

                        <ul class="product-view__summary-list list">
                            {{#each summaries as |summary|}}
                                <li class="product-view__summary-item list__item">
                                    <span class="product-view__summary-item-title">
                                        {{ summary.title }}
                                    </span>
                                    {{ summary.item }}
                                </li>
                            {{/each}}
                        </ul>
                    </div>

                    <div class="product-view__brief">
                        {{ render '@brief-info' }}
                    </div>
                </div>
            </div>

            <div class="product-view__tabs">
                {{ render '@tab' tab }}
            </div>


            {{!-- TODO: Addd missing slider--products
            <div class="product-view__slider">
                <h2 class="product-view__slider-title">
                    Recently viewed
                </h2>
                {{ render '@slider' }}
            </div> --}}
        </div>
    </div>
</div>

{{ render '@footer' }}
