<div class="page-wrapper">
    {{ render '@header' }}

    <main class="product-view container">
        {{ render '@breadcrumbs' }}

        <div class="product-view__wrapper">
            <div class="product-view__description">
                <div class="product-view__sku">
                    {{ sku }}
                </div>

                <div class="product-view__title">
                    <h1 class="heading heading--page">
                        {{ title }}
                    </h1>
                </div>
            </div>

            <div class="product-view__gallery">
                {{ render '@badges' productBadges }}
                {{ render '@gallery' }}
            </div>

            <div class="product-view__details">
                <div class="product-view__rating">
                    {{ render '@review--summary' review }}

                    <div class="product-view__stock">
                        {{ render '@button' stockButton merge=true }}
                        {{ render '@modal' shippingLatencyModal }}
                    </div>
                </div>

                <div class="product-view__price">
                    {{ render '@price--between' }}
                </div>

                <form class="product-view__form">
                    <div class="product-view__customization">
                        {{ render '@bundle-option' }}
                        {{ render '@bundle-option--checkbox' }}
                        {{ render '@bundle-option--select' }}
                    </div>

                    <div class="product-view__qty">
                        <label
                            for="qty"
                            class="label"
                        >
                            {{ qtyLabel }}
                        </label>

                        {{ render '@quantity-update' }}
                    </div>

                    <div class="product-view__buttons">
                        {{ render '@button--add-to' addToCartBtn }}
                        {{ render '@button--icon' heartBtn }}
                        {{ render '@button--icon' compareBtn }}
                    </div>

                    {{ render '@add-to-cart' }}
                </form>

                <div class="product-view__summary">
                    <div class="product-view__summary-price">
                        {{ render '@price' price merge=true }}

                        <span class="product-view__summary-unit">
                            {{ priceUnit }}
                        </span>
                    </div>

                    <div class="product-view__summary-title">
                        {{ summaryTitle }}
                    </div>

                    <ul class="product-view__summary-list list">
                        {{#each summaries as |summary|}}
                            <li class="product-view__summary-item list__item">
                                <span class="product-view__summary-item-title">
                                    {{ summary.title }}
                                </span>
                                {{ summary.item }}
                            </li>
                        {{/each}}
                    </ul>
                </div>

                <div class="product-view__brief">
                    {{ render '@brief-info--buttons' }}
                    {{ render '@modal' briefInfoModal1 }}
                    {{ render '@modal' briefInfoModal2 }}
                </div>
            </div>
        </div>

        <div class="product-view__tabs">
            <div
                class="product-view__tabs-sticky-wrap"
                data-aos="fade-down"
                data-aos-anchor="#tab-title-1"
                data-aos-anchor-placement="bottom-top"
            >
                <div class="product-view__tabs-sticky">
                    {{#each tab.tabs as |item|}}
                        <a
                            href="#{{item.titleId}}"
                            class="
                                tab__title
                                tab__title--sticky
                                {{#if item.active}}
                                    tab__title--active
                                {{/if}}
                            "
                        >
                            {{ item.title }}
                        </a>
                    {{/each}}
                </div>
            </div>
            {{ render '@tab' tab }}
        </div>


        {{!-- TODO: Addd missing slider--products
        <div class="product-view__slider">
            <h2 class="product-view__slider-title">
                Recently viewed
            </h2>
            {{ render '@slider' }}
        </div> --}}
    </main>
</div>

{{ render '@footer' }}

<script type="text/javascript">
    AOS.init({
        duration: 500
    });
</script>
