<form class="newsletter {{ class }}">
    <div class="newsletter__heading {{ heading.class }}">
        <img class="logo__image lazyload newsletter__logo"
            data-src="{{ heading.icon.src }}"
            alt="{{ heading.icon.alt }}"
        >
        <div>
            <h3 class="newsletter__title">{{ heading.title }}</h3>
            <p class="newsletter__subtitle">{{ heading.subtitle }}</p>
        </div>
    </div>

    <div>
        <div class="newsletter__controls">
            {{ render '@input' input }}
            {{ render '@button' button }}
        </div>
        <div class="newsletter__agreements">
            {{ render '@checkbox' checkbox }}
        </div>
    </div>
</form>
