<div class="newsletter {{ class }}">
    <div class="newsletter__heading {{ heading.class }}">
        <h2 class="newsletter__title">
                {{ heading.title }}
        </h2>
        <p class="newsletter__subtitle">
            {{ heading.subtitle }}
        </p>
    </div>
    <form class="newsletter__form">
        <div class="newsletter__controls">
            {{ render '@input' input }}
            {{ render '@button' button }}
        </div>
        <div class="newsletter__agreements">
            {{ render '@checkbox' checkbox }}
        </div>
    </form>
</div>
