<{{{ tag }}} class="product-grid-item {{ class }}" tabindex="0">
    <a
        href="#"
        class="product-grid-item__link"
        tabindex="-1"
    >
        {{#if productBadges}}
            {{ render '@badges' productBadges }}
        {{/if}}
        {{ render '@image' image merge=true }}
    </a>

    <section class="product-grid-item__details">
        {{#if rating }}
            {{ render '@rating--secondary' rating merge=true }}
        {{/if }}

        <h2 class="product-grid-item__name">
            <a
                href="#"
                class="product-grid-item__name-link"
            >
                {{ name }}
            </a>
        </h2>
        {{#if swatches}}
            <div class="swatch__container swatch__container--catalog">
                {{ render '@swatch--color' }}
            </div>
        {{/if}}

        <div class="product-grid-item__details-bottom">
            <div class="product-grid-item__price {{ price.class }}">
                {{ render (component price.name) price.context }}
            </div>

            <div class="product-grid-item__actions {{ secondaryActions.class }}">
                <div class="product-grid-item__secondary-action">
                    {{#if secondaryActions.wishlist }}
                        {{
                            render '@button--icon'
                            secondaryActions.wishlist
                            merge=true
                        }}
                    {{/if}}

                    {{#if secondaryActions.compare }}
                        {{
                            render '@button--icon'
                            secondaryActions.compare
                            merge=true
                        }}
                    {{/if}}
                </div>

                {{#if secondaryActions.addToCart }}
                    <form action="#" class="product-grid-item__primary-action">
                        {{
                            render '@button--add-to'
                            secondaryActions.addToCart
                            merge=true
                        }}
                    </form>
                {{/if}}
            </div>
        </div>
    </section>
</{{{ tag }}}>
