<div class="mega-menu">
    <ul class="mega-menu__list container">
        {{#each list}}
            <li class="{{ class }}">
                <a href="{{ link }}" class="mega-menu__link">
                    {{ text }}
                </a>
                {{#if nestedList}}
                    <ul class="mega-menu__inner-list mega-menu__inner-list--level1">
                        {{#each nestedList as |item| }}
                            <li class="{{ item.class }}">
                                {{#if item.image}}
                                    <a
                                        class="{{ item.linkClass }}"
                                        href="{{ item.link }}"
                                    >
                                        {{ render '@image' }}
                                    </a>
                                {{else}}
                                    <a
                                        href="{{ item.link }}"
                                        class="{{ item.linkClass }}"
                                    >
                                        {{ item.heading }}
                                    </a>
                                    {{#if item.list}}
                                        {{ render '@list--link' item.list merge=true }}
                                    {{/if}}
                                {{/if}}
                            </li>
                        {{/each}}
                    </ul>
                {{/if}}
            </li>
        {{/each}}
    </ul>
</div>
<script src="{{static 'mega-menu.js' }}"></script>
