<div class="marketing-bar {{ class }}" {{{ attributes }}}>
    <div class="container marketing-bar__container">
        <div class="marketing-bar__text">
            {{ text }}
        </div>
        {{ render '@button--icon' closeButton }}
    </div>
</div>
<script src="{{static 'marketing-bar.js' }}"></script>
