<div class="minicart-content {{ class }}" {{{ attributes }}}>
    <h2 class="minicart-content__heading">
        Shopping cart
    </h2>
    <div class="minicart-content__counter">
        {{ counter}}
    </div>
    <div class="minicart-content__products-list">
        {{#each products}}
            {{ render '@minicart-product' this merge=true }}
        {{/each}}
    </div>
    <div class="minicart-content__summary">
        <div class="minicart-content__summary-label">
            {{ total }}
        </div>
        <div class="minicart-content__summary-value">
            {{ price }}
        </div>
    </div>
    <div class="minicart-content__actions">
        <a
            href="{{ editButton.link }}"
            class="
                button
                button--secondary
                minicart-content__edit
                minicart-content__action-button
            "
        >
            {{ editButton.label }}
        </a>
        {{ render '@button' checkoutButton }}
    </div>
</div>
