<div
    class="minicart-content {{ class }}"
    {{{ attributes }}}
>
    <div class="minicart-content__top" id="minicart-title">
        {{ render '@heading' heading }}
        <div class="minicart-content__counter">
            {{ counter}}
        </div>
    </div>
    <div class="minicart-content__middle" id="minicart-products">
        <div class="minicart-content__products-list">
            {{#each products}}
                {{ render '@minicart-product' this merge=true }}
            {{/each}}
        </div>
    </div>
    <div class="minicart-content__bottom">
        <div class="minicart-content__summary">
            <div class="minicart-content__summary-label">
                {{ total }}
            </div>
            <div class="minicart-content__summary-value">
                {{ price }}
            </div>
        </div>
        <div class="minicart-content__actions">
            <a
                href="{{ editButton.link }}"
                class="
                    button
                    button--secondary
                    minicart-content__edit
                    minicart-content__action-button
                "
            >
                {{ editButton.label }}
            </a>
            {{ render '@button' checkoutButton }}
        </div>
    </div>
</div>
