<div class="login-form">
    <p class="login-form__info">
        {{{ signInInfo }}}
    </p>
    <form class="login-form__form">
        <fieldset
            class="fieldset login-form__fieldset {{ signInSection.fieldset.class }}"
            {{{ signInSection.fieldset.attributes }}}
        >
            <legend class="fieldset__legends login-form__legend {{ signInSection.legend.class }}"
                {{{ signInSection.legend.attributes }}}
            >
                {{ signInSection.legend.text }}
            </legend>
            {{ render '@input' email }}
            {{ render '@input' password }}
        </fieldset>
        <div class="login-form__actions">
            {{ render '@button' loginButton }}
            <a
                href="{{ forgetPassword.href }}"
                class="login-form__forgot-password"
            >
                {{ forgetPassword.text }}
            </a>
        </div>
        <div class="login-form__validation-tips">
            {{{ validationTips }}}
        </div>
    </form>
</div>
