<li
    class="
        dropdown-list__item
        dropdown-list__item--collapse
        filter
        filter--range
        {{ class }}
    "
>
    <div class="dropdown-list__label-wrapper filter__label-wrapper">
        <button
            type="button"
            class="dropdown-list__label"
            aria-controls="{{ id }}"
            aria-expanded="false"
        >
            <h3 class="filter__heading">
                Range
            </h3>

            {{ render '@icon' collapseIcon }}
        </button>

        {{ render '@tooltip' tooltip merge=true }}
    </div>

    <div
        id="{{ id }}"
        class="dropdown-list__content filter__content {{ contentClass }}"
        aria-hidden="true"
    >
        {{ render '@range' }}
    </div>
</li>
