<li
    class="
        dropdown-list__item
        dropdown-list__item--collapse
        filter
        filter--checkbox
        {{ class }}
    "
>
    <div class="dropdown-list__label-wrapper filter__label-wrapper">
         <button
            type="button"
            class="dropdown-list__label"
            aria-controls="{{ id }}"
            aria-expanded="true"
        >
            {{ render '@heading' title }}
            {{ render '@icon' collapseIcon }}
        </button>

        {{ render '@tooltip' }}
    </div>
    <div
        id="{{ id }}"
        class="dropdown-list__content filter__content {{ contentClass }}"
        aria-hidden="false"
    >
        <ul class="list filter__list">
            {{#each options }}
                <li class="filter__color-item">
                    <a
                        href='{{ href }}'
                        class="filter__color-option {{ class }}"
                    >
                        <div
                            class="filter__color-sample"
                            {{{ attributes }}}
                        ></div>
                        <span class="filter__color-label">
                            {{ label }}
                        </span>
                    </a>
                </li>
            {{/each }}
        </ul>
    </div>
</li>
