<li
    class="
        dropdown-list__item
        dropdown-list__item--collapse
        filter
        filter--checkbox
    "
>
    <div class="dropdown-list__label-wrapper filter__label-wrapper">
        <button
            type="button"
            class="dropdown-list__label"
            aria-controls="{{ id }}"
            aria-expanded="false"
        >
            <h3 class="filter__heading">
                Filters
            </h3>

            {{ render '@icon' collapseIcon }}
        </button>

        {{ render '@tooltip' }}
    </div>

    <div
        id="{{ id }}"
        class="dropdown-list__content filter__content"
        aria-hidden="true"
    >
        <ul class="list">
            {{#each checkboxes }}
                <li>
                    {{ render '@checkbox--link' this }}
                </li>
            {{/each }}
        </ul>
    </div>
</li>
