<li
    class="
        dropdown-list__item
        dropdown-list__item--collapse
        filter
        filter--checkbox
        {{ class }}
    "
>
    <div class="dropdown-list__label-wrapper filter__label-wrapper">
        <button
            type="button"
            class="dropdown-list__label"
            aria-controls="{{ id }}"
            aria-expanded="false"
        >
            {{ render '@heading' title }}
            {{ render '@icon' collapseIcon }}
        </button>
    </div>

    <div
        id="{{ id }}"
        class="dropdown-list__content filter__content {{ contentClass }}"
        aria-hidden="true"
    >
        {{ render '@more-info' }}
        <ul class="list">
            {{#each checkboxes }}
                <li>
                    {{ render '@checkbox--link' this }}
                </li>
            {{/each }}
        </ul>
    </div>
</li>
