<div class="page-wrapper">
    {{ render '@header--checkout' }}

    <main id="maincontent" class="page-main container">
        {{ render '@heading' heading }}

        <div id="checkout" class="checkout-container">

            {{ render '@authentication' }}
            {{ render '@progress-bar' }}
            {{ render '@estimated-section' }}

            <div class="opc-wrapper">
                <ol id="checkout-steps" class="opc">
                    {{ render '@shipping-address' }}
                    {{ render '@shipping-methods' }}
                </ol>
            </div>

            {{ render '@sidebar-checkout' }}
        </div>
    </main>
</div>

{{ render '@footer--checkout' }}
