<div
    class="bundle-option {{ class }}"
    {{{ attributes }}}
>
    {{#if title}}
       {{ render '@heading' title }}
    {{/if}}

    {{#each checkboxes }}
        {{ render '@checkbox' this merge=true }}
    {{/each}}

    {{#if qty }}
        {{ render '@input' qty merge=true }}
    {{/if}}
</div>
