<div
    class="bundle-option {{ class }}"
    {{{ attributes }}}
>
    {{#if title}}
        {{ render '@heading' title }}
    {{/if}}

    {{ render '@select' select merge=true }}

    {{#if qty }}
        {{ render '@input' qty merge=true }}
    {{/if}}
</div>
