<div class="bundle-option {{ class }}" {{{ attributes }}}>
    {{#if title}}
        <{{{title.tag}}} class="bundle-option__title">
            {{ title.message }}
        </{{{title.tag}}}>
    {{/if}}

    {{ render '@select' select merge=true }}

    {{#if qty }}
        {{ render '@input' qty merge=true }}
    {{/if}}
</div>
