<div class="page-wrapper">
    {{ render '@header' }}

    <main
        id="maincontent"
        class="
            dashboard
            container
            {{ class }}
        "
    >
        {{ render '@breadcrumbs' breadcrumbs }}
        <div class="row">
            <div
                class="
                    col-xs-12
                    col-lg-3
                    {{ sidebarClass }}
                "
            >
                {{ render '@dashboard-nav' }}
            </div>
            <div
                class="
                    col-xs-12
                    col-lg-9
                    wishlist
                    {{ contentClass }}
                "
            >
                {{ render '@heading' heading }}
                <div
                    class="
                        products-grid
                        wishlist
                        row
                        wishlist__grid
                    "
                >
                    {{#each wishlistItems}}
                        <div class="wishlist__item {{ product.class }}">
                            <a
                                href="#"
                                aria-label="{{ product.name.text }}"
                                class="wishlist__link"
                            >
                                {{ render '@image' product.image }}
                            </a>

                            {{#if selectAll}}
                                <div class="wishlist__select {{ this.itemSelectClass }}">
                                    {{ render '@checkbox' this.checkbox }}
                                </div>
                            {{/if}}

                            <div class="wishlist__item-content {{ this.itemContentClass }}">
                                <div class="wishlist__rating-wrapper">
                                    {{ render '@rating--secondary' }}
                                </div>

                                <div class="wishlist__item-name {{ this.itemNameClass }}">
                                    {{ render '@link' product.name }}
                                </div>

                                {{#if product.price}}
                                    {{ render '@price' product.price merge=true }}
                                {{else}}
                                    {{ render '@price--with-special-price' product.priceSpecial merge=true }}
                                {{/if}}
                            </div>

                            <div class="wishlist__item-inner">
								{{ render '@input--textarea' textarea }}
                                <div class="{{ qty.class }}">
                                    {{ render '@label' qty.label }}
                                    {{ render '@quantity-update' qty.field merge=true }}
                                </div>
                                <div class="wishlist__item-actions">
                                    {{ render '@button--icon' editIcon }}
                                    {{ render '@button--icon' removeIcon }}
                                </div>

                                <div class="wishlist__item-actions wishlist__item-actions--to-cart">
                                    {{ render '@button' addToCart }}
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
                {{#if toolbar}}
                    {{ render '@toolbar' toolbar merge=true }}
                {{/if}}
                {{ render '@actions-group' actions }}
            </div>
        </div>
    </main>
</div>

{{ render '@footer' }}
