<div
    class="rating {{ class }}"
    aria-label="{{ ariaLabel }}"
    title="{{ title }}"
    tabindex="0"
    {{{ attributes }}}
>
    <div
        class="rating__star {{ star.class }}"
        role="presentation"
        {{{ star.attributes }}}
    >
        <span
            class="
                rating__indicator
                {{ indicator.class }}
            "
            {{{ indicator.attributes }}}
        ></span>
    </div>
</div>
