<div class="block-info margin-bottom-m {{ class }}">
    <div class="block-info__title">
        {{#if link }}
            <span>
                {{ titleText }}
            </span>
            {{ render '@actions-group' link.button }}
        {{else}}
            {{ titleText }}
        {{/if}}
    </div>
    <div class="block-info__content">
        <p class="block-info__content-text margin-bottom-0">
            {{ contentText }}
        </p>
    </div>
</div>
