<div class="page-wrapper">
    {{ render '@header' }}
    <main id="maincontent" class="container">
        {{ render '@breadcrumbs' breadcrumbs }}
        {{ render '@heading' mainHeading merge=true }}
        <div class="forgot-password">
            <p class="forgot-password__info">
                {{ info }}
            </p>
            <form>
                {{ render '@input' email }}
                {{ render '@input' captcha.field }}
                <div class="forgot-password__captcha-wrapper">
                    {{ render '@image' captcha.image }}
                    {{ render '@button' captcha.reload }}
                </div>
                <div class="forgot-password__actions">
                    {{ render '@button' submit }}
                </div>
            </form>
        </div>
    </main>
</div>

{{ render '@footer' }}
