<footer class="footer {{ class }}" {{{ attributes }}}>
    {{#if handler }}
        <div class="footer__handler {{ handlerClass }}">
            {{ render '@button--icon' scrollToTop }}

            <section class="footer__newsletter">
                {{ render '@newsletter' }}
            </section>

            <div class="footer__social-handler {{ socialHandlerClass }}">
                <h3 class="footer__social-list-title">
                    {{ socialListTitle }}
                </h3>

                {{ render '@list--icon' socialIconList }}
            </div>

            <section class="footer__links">
                {{ render '@dropdown-list' linkList }}
            </section>
        </div>
    {{/if}}

    {{#if bottomBar }}
        <section
            class="footer__bottom-bar {{ bottomBar.class }}"
            {{{ bottomBar.attributes }}}
        >
            <div class="footer__bottom-bar-handler {{ bottomBar.handlerClass }}">
                <div class="footer__copyright">
                    <small>
                        {{ copyrightText }}
                    </small>
                </div>

                <ul
                    class="
                        footer__payments-list
                        list
                        list--horizontal
                        {{ paymentsList.class }}
                    "
                >
                    {{#each paymentsList.elements as |element|}}
                        <li class="list__item">
                            {{ render '@icon' element }}
                        </li>
                    {{/each}}
                </ul>
                <div class="footer__switchers">
                    {{ render '@dropdown-list--detailed-content' language }}
                    {{ render '@dropdown-list--detailed-content' currency }}
                </div>
            </div>
        </section>
    {{/if}}

    {{#if cookieMessage }}
        {{ render '@cookie-message' }}
    {{/if}}
</footer>

{{#if script }}
    <script src="{{ static 'footer.js' }}"></script>
{{/if}}
