<div class="file-upload {{ class }}">
    <div
        class="file-upload__wrapper"
        data-role="send-files"
    >
        <label
            tabindex="0"
            for="{{ id }}"
        >
            <input
                id="{{ id }}"
                type="file"
                name="{{ input.name }}"
                accept="{{ input.formats }}"
                data-size="{{ input.size }}"
            />
            {{ labelText }}
        </label>
    </div>
    {{#if attachments }}
        <div class="file-upload__attachments">
            {{#each attachments }}
                <div
                    data-role="attached-item"
                >
                    <span>
                        {{ fileName }}
                    </span>
                    <button
                        type="button"
                        data-role="delete-button"
                    >
                        <span>
                            {{ buttonText }}
                        </span>
                    </button>
                </div>
            {{/each }}
        </div>
    {{/if}}
</div>
