<div class="file-upload {{ class }}">
    <input
        class="file-upload__input"
        id="{{ id }}"
        type="file"
        name="{{ input.name }}"
        accept="{{ input.formats }}"
        data-size="{{ input.size }}"
    />
    <label class="file-upload__wrapper" for="{{ id }}">
        <span class="file-upload__label">
            {{ labelText }}
        </span>

        {{ render '@button' button }}

        <span
            class="file-upload__name"
            data-default-text="{{ fileName }}"
            tabindex="0"
        >
            {{ fileName }}
        </span>
    </label>
</div>

<script src="{{ static 'file-upload.js' }}"></script>
