<div class="file-upload {{ class }}">
    <div class="field-attachment" data-role="send-files">
        <label tabindex="0" for="add-file-0">
            <input
                id="{{ id }}"
                type="file"
                name="{{ input.name }}"
                accept="{{ input.formats }}"
                data-size="{{ input.size }}"
            />
            {{ labelText }}
        </label>
    </div>
</div>
