<div class="page-wrapper">
    {{ render '@header' }}

    <main class="container" id="maincontent">
        {{ render '@breadcrumbs' }}

        <div class="catalog-list">
            {{ render '@banner--category' banner merge=true }}

            <div class="catalog-list__sidebar">
                {{ render '@filters' }}
            </div>

            <div class="catalog-list__products">
                {{ render '@toolbar' }}
                <ul class="list">
                    {{#each items as |item|}}
                        {{ render '@product-list-item' item merge=true }}
                    {{/each}}
                </ul>
                {{ render '@pager' pager merge=true }}
                <div class="catalog-list__category-description">
                    {{{ categoryDescription }}}
                </div>
            </div>
            <div class="catalog-list__sidebar-additional">
                {{ render '@sidebar-block' }}
                {{ render '@sidebar-block--recently-ordered' }}
                {{ render '@sidebar-block--wishlist' }}
                {{ render '@sidebar-block--recently-viewed' }}
            </div>
        </div>
    </main>
</div>

{{ render '@footer' }}
