<div class="page-wrapper">
    {{ render '@header' }}

    <main class="container">
        {{ render '@breadcrumbs' }}

        <div class="catalog-list">
            {{ render '@banner--category' banner merge=true }}

            <div class="catalog-list__sidebar">
                {{ render '@filters' }}
            </div>

            <div class="catalog-list__products">
                {{ render '@toolbar' }}
                {{ render '@catalog-list-item' }}
                {{ render '@contact-message' }}
                {{ render '@catalog-list-item' }}
                {{ render '@catalog-list-item' }}
                {{ render '@catalog-list-item' }}
                {{ render '@catalog-list-item' }}
                {{ render '@catalog-list-item' }}
                {{ render '@catalog-list-item' }}
                {{ render '@catalog-list-item' }}
                {{ render '@catalog-list-item' }}
                {{ render '@pager' }}

                <div class="catalog-list__category-description">
                    {{{ categoryDescription }}}
                </div>
            </div>
        </div>
    </main>
</div>

{{ render '@footer' }}
