<div class="range-filter {{ class }}" {{{ attributes }}}>
    <div class="range-filter__slider {{ slider.lass }}"
         data-min="{{ filter.input.minValue }}"
         data-max="{{ filter.input.maxValue }}"
         data-show-float="{{ showFloat }}"
    ></div>
    <div class="range-filter__inputs-wrapper {{ filter.wrapperClass }}">
        {{ render '@input' rangeInputLower }}
        <span class="range-filter__suffix {{ filter.suffix.lowerClass }}">
            {{ filter.suffix.lowerText }}
        </span>
        <span class="range-filter__dash">-</span>
        {{ render '@input' rangeInputUpper }}
        <span class="range-filter__suffix {{ filter.suffix.upperClass }}">
            {{ filter.suffix.upperText }}
        </span>
    </div>
</div>
{{ render '@button--secondary' apply }}
{{#if script}}
<script src="{{ static 'range.js' }}"></script>
{{/if}}
