<div
    class="messages__wrap {{ wrapperClass }}"
    role="alert"
    aria-live="polite"
    data-aos="fade-down"
    data-aos-anchor=".header"
    data-aos-anchor-placement="bottom-top"
>
    <div class="messages {{ class }}">
        {{ render '@message' }}
        {{ render '@message--success' }}
        {{ render '@message--error' }}
    </div>
</div>
