<div class="messages {{ class }}" role="alert" aria-live="polite">
    {{ render '@message' }}
    {{ render '@message--success' }}
    {{ render '@message--error' }}
</div>
<script src="{{static 'messages.js'}}" defer></script>
