<div class="checkbox {{ class }}">
    <input type="checkbox"
           id="{{ id }}"
           name="{{ name }}"
           class="checkbox__field {{ input.class }}"
   >
    <svg class="checkbox__icon {{ icon.class }}">
        <use xlink:href="{{ svg 'checked' }}"></use>
    </svg>
    <label for="{{ id }}" class="checkbox__label {{ label.class }}">
        {{{ label.text }}}
    </label>
</div>
