<a href="{{href}}" class="checkbox checkbox--link {{class}}">
    <svg class="checkbox__icon" {{{ iconAttributes }}}>
        <use xlink:href="{{ svg 'checked' }}"></use>
    </svg>
    <span class="checkbox__label" {{{ labelAttributes }}}>
        {{ label.text }}
    </span>
</a>
