<div class="checkbox {{ class }}">
    <input
        type="checkbox"
        id="{{ id }}"
        name="{{ name }}"
        class="checkbox__field {{ input.class }}"
        {{{ attributes }}}
   >
    <label
        for="{{ id }}"
        class="
            checkbox__label
            checkbox__label--no-icon
            {{ label.class }}
        "
    >
        <span class="checkbox__text">
            {{{ label.text }}}
        </span>
    </label>
</div>
