<div class="page-wrapper">
    {{ render '@header--checkout' }}

    <main id="maincontent" class="page-main container">
        <div class="row">
            {{ render '@dashboard-form' contactInfo }}
            {{ render '@dashboard-form' address }}
            {{ render '@actions-group' actions }} 
        </div>
    </main>
</div>

{{ render '@footer--checkout' }}
