<div class="page-wrapper">
    {{ render '@header' }}
  <main id="maincontent" class="container">
      {{ render '@breadcrumbs' breadcrumbs }}
      {{ render '@heading' mainHeading merge=true }}
    <div class="row cms-content">
        {{ render '@paragraph' merge=true }}
        {{ render '@paragraph' merge=true }}
        {{ render '@paragraph' merge=true }}
        {{ render '@paragraph' paragraphBold merge=true }}
    </div>
  </main>
</div>

{{ render '@footer' }}
