<div class="page-wrapper">
    {{ render '@header' }}
    <main
        id="maincontent"
        class="container"
    >
        {{ render '@breadcrumbs' breadcrumbs }}
        {{ render '@heading' mainHeading }}
        <div class="grid between-xs blog">
            <div class="grid__column grid__column--3-4">
                <div class="row__content blog__list">
                    <!-- render '@list--article' -->
                    {{ render '@list' }}
                    {{ render '@pager' }}
                </div>
            </div>
            <div class="grid__column grid__column--1-4">
                <div class="row">
                    <div class="blog__recommended col-xs-12 col-md-6 col-lg-12">
                        {{ render '@heading' recommendedHeading }}
                        <!--render '@list--number' }}-->
                        {{ render '@list' }}
                    </div>
                    <div class="blog__categories col-xs-12 col-md-6 col-lg-12">
                        {{ render '@heading' categoryHeading }}
                        {{ render '@list--link' categories merge=true }}
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

{{ render '@footer' }}
