<div class="page-wrapper">
    {{ render '@header' }}
    {{ render '@breadcrumbs' breadcrumbs }}

    <main
        id="maincontent"
        class="container"
    >
        <div class="blog-post row">
            {{ render '@article-item--single' articleSingle merge=true }}

            <nav class="blog__nav {{ navClass }}">
                <div class="blog__recommended">
                    {{ render '@heading' recommendedHeading }}
                    {{ render '@list--link' recommendedList merge=true }}
                </div>
                <div class="blog__categories">
                    {{ render '@heading' categoryHeading }}
                    {{ render '@list--link' categoriesList merge=true }}
                </div>
            </nav>
        </div>
    </main>
</div>

{{ render '@footer' }}
