<{{{ tag }}}
    class="
        article-item
        {{ class }}
    "
>
    <header class="article-item__header {{ headerClass }}">
        {{ render '@heading' articleTitle }}

        {{#if articleSubtitle }}
            {{ render '@heading' articleSubtitle }}
        {{/if}}
    </header>
    <section class="article-item__container {{ containerClass }}">
        <div class="article-item__media {{ mediaClass }}">
            {{ render '@banner' articleBanner }}
        </div>
        <div class="article-item__body {{ bodyClass }}">
            <div class="article-item__content">
                {{{ articleContent }}}
            </div>
            {{#if footer }}
                <footer class="article-item__footer {{ footerClass }}">
                    {{ render (component footer.component) footer.context merge=true }}
                </footer>
            {{/if}}
        </div>
    </section>

</{{{ tag }}}>
