<div class="banner banner--category {{ class }}">
    <div class="banner__image-wrapper">
        {{ render '@image' imageCategory }}
        {{ render '@button--icon' buttonCollapse }}
    </div>

    <div
        class="banner__content--category"
        aria-hidden="true"
    >
        <p>Celestron Telescopes…if you have a telescope or have been shopping for a telescope recently, chances are you have heard of Celestron, and for good reason. Celestron is now a world leader in telescope and telescope accessories sales, and they did a lot of things right in order to earn that distinction.</p>
        <p>Most recently, Celestron introduced the Celestron NexStar Evolution; a telescope that you control through a planetarium application on your iPhone or Android device. The Celestron NexStar Evolution is so easy to use that all you have to do is take your smart phone, point it at the sky and touch the object on the planetarium interface that you would like to view through your telescope. Once you touch the object your telescope locks in and moves to that object for your viewing.</p>
        <p>In addition to developing some of the most innovative telescopes in the world Celestron has an extensive line of telescope accessories. Celestron Telescope Accessories are crafted to enhance the performance of your telescope. High Point Scientific carries the full line of Celestron telescope eyepieces and Celestron telescope accessories.</p>
        <p>Interested in imaging with your Celestron Telescope? Celestron has you covered! High Point Scientific stocks the full line of Celestron NexImage Cameras, Celestron SkyRis CCD Cameras, Celestron NightScape Cameras and Celestron Astro-Photography Accessories.</p>
        <p>Celestron was started in 1960 by Tom Johnson. Tom was searching for the right telescope to introduce his two young sons to astronomy, and since he didn't find what he was looking for, he decided to build one from scratch. Tom's first telescope was a 6" reflector, but that was just the beginning. Before long the company, initially called Valor Electronics, was offering Schmidt-Cassegrain telescopes as large as 22" to a public hungry for a good quality, yet portable telescope. By 1970, Tom had figured out a way to mass-produce Schmidt-Cassegrain optics at a reasonable price, and not long afterwards, the revolutionary Celestron C8 was born. The rest , as they say, is history!</p>
        <p>Today, Celestron designs and sells a dizzying array of telescopes, binoculars, spotting scopes and astronomical accessories. Celestron has also grown significantly in the area of outdoor and science products. They have a wonderful line of microscopes, and their GPS assisted devices for golfers, hikers, travelers, and those who have a tendency to lose their car in large parking lots, have become very popular.</p>
        <p>High Point is a Premier Select Dealer for Celestron. We carry their full product line, and are proud to do so. Feel free to give us a call if you need help choosing the right Celestron telescope or accessory…we're fans of the stuff!</p>

        <div class="banner__actions-wrapper">
            {{ render '@button--icon' buttonMore }}
            {{ render '@button--icon' buttonClose }}
        </div>
    </div>
</div>

<script src="{{ static 'banner.js' }}" defer></script>
