<a
    href="{{ link }}"
    class="banner {{ class }}"
    {{{ attributes }}}
>
    {{ render '@image--picture' image }}

    <div class="banner__content">
        <p class="banner__text">
            {{ text }}
        </p>
        <span class="banner__icon">
            {{ render '@icon' icon }}
        </span>
    </div>
</a>
