<div class="banner banner--category {{ class }}">
    <div class="banner__image-wrapper">
        {{ render '@image' imageCategory }}
        {{ render '@button--icon' buttonCollapse }}
    </div>

    <div
        class="banner__content--category"
        tabindex="-1"
        aria-hidden="true"
    >
        {{{ textContent }}}
        <div class="banner__actions-wrapper">
            {{ render '@button--icon' buttonMore }}
            {{ render '@button--icon' buttonClose }}
        </div>
    </div>
</div>

<script src="{{ static 'banner.js' }}" defer></script>
