<div
    class="
        banner
        banner--category
        banner--category-image
        {{ class }}
    "
>
     <div class="banner__wrapper">
        <div class="banner__image-wrapper">
            {{ render '@image--picture' imageCategory megre=true }}
        </div>
        <div class="banner__heading-wrapper">
            <div class="banner__heading">
                {{ render '@heading' heading merge=true }}
            </div>
            {{ render '@button--icon' buttonCollapse }}
        </div>
    </div>
    <div
        class="banner__content--category"
        tabindex="-1"
        aria-hidden="true"
    >
        {{{ textContent }}}
        <div class="banner__actions-wrapper">
            {{ render '@button--icon' buttonClose }}
        </div>
    </div>
</div>

<script src="{{ static 'banner.js' }}" defer></script>
